@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/unity\/scss\/it\.scss}line{font-family:\000031}}
.view-projects .views-field-field-projectstatus {
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/unity\/scss\/it\.scss}line{font-family:\000035}}
.view-projects span.Green-Dot, .view-projects span.Yellow-Dot, .view-projects span.Red-Dot, .view-projects span.Green-Check {
  background-repeat: no-repeat;
  background-position: 0% 50%;
  width: 100px;
  padding-left: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/unity\/scss\/it\.scss}line{font-family:\0000311}}
.view-projects caption {
  color: #990000;
  text-decoration: none;
  text-align: left;
  font-weight: bold;
  font-size: 1.3em;
  color: #990000;
  margin: 0;
  padding: 10px 0;
  font-family: "news-gothic-std", Arial, sans serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/unity\/scss\/it\.scss}line{font-family:\0000322}}
.view-projects .Green-Dot {
  background-image: url("/sites/all/themes/minit/css/images/status/green-circle.gif");
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/unity\/scss\/it\.scss}line{font-family:\0000325}}
.view-projects th {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/unity\/scss\/it\.scss}line{font-family:\0000328}}
.view-projects th.views-field-nothing {
  width: 65%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/unity\/scss\/it\.scss}line{font-family:\0000331}}
.view-projects th.views-field-field-phase {
  width: 68px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/unity\/scss\/it\.scss}line{font-family:\0000334}}
.view-projects th.views-field-field-projectstatus {
  width: 47px;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/unity\/scss\/it\.scss}line{font-family:\0000338}}
.view-projects th.views-field-field-projectstatus-1 {
  width: 71px;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/unity\/scss\/it\.scss}line{font-family:\0000342}}
.view-projects th.views-field-field-project-manager {
  width: 90px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/unity\/scss\/it\.scss}line{font-family:\0000345}}
.view-projects th.views-field-field-project-end-date {
  width: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/unity\/scss\/it\.scss}line{font-family:\0000348}}
.view-projects .Yellow-Dot {
  background-image: url("/sites/all/themes/minit/css/images/status/yellow-circle.gif");
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/unity\/scss\/it\.scss}line{font-family:\0000351}}
.view-projects .Red-Dot {
  background-image: url("/sites/all/themes/minit/css/images/status/red-circle.gif");
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/unity\/scss\/it\.scss}line{font-family:\0000354}}
.view-projects .Green-Check {
  background-image: url("/sites/all/themes/minit/css/images/status/green-check.gif");
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/unity\/scss\/it\.scss}line{font-family:\0000358}}
.view-id-events_calendar div.date .top {
  color: #fff;
  background-color: #990000;
  /*2F4765*/
  padding: 3px 0;
  margin: 0 0 8px 0;
  min-height: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/unity\/scss\/it\.scss}line{font-family:\0000367}}
.view-id-events_calendar div .date {
  float: left;
  width: 60px;
  min-height: 60px;
  margin: 0;
  padding: 0;
  background: white;
  border: 1px solid black;
  text-align: center;
  font-size: 1.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/unity\/scss\/it\.scss}line{font-family:\0000379}}
.view-id-events_calendar .views-row {
  margin-bottom: 10px;
  clear: both;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/unity\/scss\/it\.scss}line{font-family:\0000385}}
.view-id-events_calendar .event-details {
  float: left;
  margin-left: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/unity\/scss\/it\.scss}line{font-family:\0000390}}
.event-clear {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/unity\/scss\/it\.scss}line{font-family:\0000394}}
.view.view-featured-services ul li.views-row-odd, .view.view-featured-services ul li.views-row-even {
  background-color: #fff;
}
