a.multi-line-button.red, a.multi-line-button.green, a.multi-line-button.blue {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  border-width: 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border-style: solid;
  color: white;
  display: block;
  margin: 0.2em 0px;
  width: 100%;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  background-color: #60a3d8;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #89bbe2), color-stop(50%, #60a3d8), color-stop(100%, #378bce));
  background-image: -moz-linear-gradient(top, #89bbe2 0%, #60a3d8 50%, #378bce 100%);
  background-image: linear-gradient(top, #89bbe2 0%, #60a3d8 50%, #378bce 100%);
  border-color: #2970a9;
  border-left-color: #60a3d8;
  border-top-color: #60a3d8;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 0 0 inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 0 0 inset;
  -o-box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 0 0 inset;
  box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 0 0 inset;
  color: white;
  text-shadow: #2e7ebd 0 1px 2px;
}

.field-name-body a.multi-line-button
{

width: 310px;
max-width: 310px;
margin-left:0px;
display: block;

}
/* line 12, _multi-line-button.sass */
a.multi-line-button.red .title, a.multi-line-button.green .title, a.multi-line-button.blue .title {
  font-size: 18px;
  font-weight: bold;
  display: block;
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
}

a.multi-line-button.grey
{
  font-weight: normal;
  margin: 0.2em 0px;
  width: 100%;
  padding: 12px 40px 12px 10px;
  text-align: center;
  text-decoration: none;
  display: block;
}

a.multi-line-button.grey .title {
  font-size: 1.1em;
  color: #990000;
  display: block;

  
 
  
  
}

/* line 17, _multi-line-button.sass */
a.multi-line-button.red .subtitle, a.multi-line-button.green .subtitle, a.multi-line-button.blue .subtitle {
  font-size: 12px;
  display: block;
  margin-top: 4px;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
/* line 23, _multi-line-button.sass */
a.multi-line-button.red:hover .title, a.multi-line-button.green:hover .title, a.multi-line-button.blue:hover .title {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
/* line 25, _multi-line-button.sass */
a.multi-line-button:hover .subtitle {
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}
/* line 27, _multi-line-button.sass */
a.multi-line-button.red:active, a.multi-line-button.green:active, a.multi-line-button.blue:active {
  padding: 13px 15px 11px;
}
/* line 48, _multi-line-button.sass */
a.multi-line-button:hover, a.multi-line-button:focus {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #9dc7e7), color-stop(50%, #74afdd), color-stop(100%, #378bce));
  background-image: -moz-linear-gradient(top, #9dc7e7 0%, #74afdd 50%, #378bce 100%);
  background-image: linear-gradient(top, #9dc7e7 0%, #74afdd 50%, #378bce 100%);
}
/* line 50, _multi-line-button.sass */
a.multi-line-button:active, a.multi-line-button.depressed {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #5796c8), color-stop(100%, #6aa2ce));
  background-image: -moz-linear-gradient(top, #5796c8 0%, #6aa2ce 100%);
  background-image: linear-gradient(top, #5796c8 0%, #6aa2ce 100%);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #2970a9;
}
/* line 16, multi-line-button.sass */
a.multi-line-button.green {
  background-color: #63bb4a;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #83c96f), color-stop(50%, #63bb4a), color-stop(100%, #4e9939));
  background-image: -moz-linear-gradient(top, #83c96f 0%, #63bb4a 50%, #4e9939 100%);
  background-image: linear-gradient(top, #83c96f 0%, #63bb4a 50%, #4e9939 100%);
  border-color: #3b742b;
  border-left-color: #63bb4a;
  border-top-color: #63bb4a;
  -moz-box-shadow: rgba(233, 233, 233, 0.5) 1px 1px 0 0 inset;
  -webkit-box-shadow: rgba(233, 233, 233, 0.5) 1px 1px 0 0 inset;
  -o-box-shadow: rgba(233, 233, 233, 0.5) 1px 1px 0 0 inset;
  box-shadow: rgba(233, 233, 233, 0.5) 1px 1px 0 0 inset;
  color: white;
  text-shadow: #458632 0 1px 2px;
}
/* line 48, _multi-line-button.sass */
a.multi-line-button.green:hover, a.multi-line-button.green:focus {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #93d082), color-stop(50%, #73c25d), color-stop(100%, #4e9939));
  background-image: -moz-linear-gradient(top, #93d082 0%, #73c25d 50%, #4e9939 100%);
  background-image: linear-gradient(top, #93d082 0%, #73c25d 50%, #4e9939 100%);
}
/* line 50, _multi-line-button.sass */
a.multi-line-button.green:active, a.multi-line-button.green.depressed {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #5f9f4c), color-stop(100%, #6aaf56));
  background-image: -moz-linear-gradient(top, #5f9f4c 0%, #6aaf56 100%);
  background-image: linear-gradient(top, #5f9f4c 0%, #6aaf56 100%);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #3b742b;
}
/* line 18, multi-line-button.sass */
a.multi-line-button.red {
  background-color: #bf4040;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cc6666), color-stop(50%, #bf4040), color-stop(100%, #993333));
  background-image: -moz-linear-gradient(top, #cc6666 0%, #bf4040 50%, #993333 100%);
  background-image: linear-gradient(top, #cc6666 0%, #bf4040 50%, #993333 100%);
  border-color: #732626;
  border-left-color: #bf4040;
  border-top-color: #bf4040;
  -moz-box-shadow: rgba(230, 230, 230, 0.5) 1px 1px 0 0 inset;
  -webkit-box-shadow: rgba(230, 230, 230, 0.5) 1px 1px 0 0 inset;
  -o-box-shadow: rgba(230, 230, 230, 0.5) 1px 1px 0 0 inset;
  box-shadow: rgba(230, 230, 230, 0.5) 1px 1px 0 0 inset;
  color: white;
  text-shadow: #862d2d 0 1px 2px;
}
/* line 48, _multi-line-button.sass */
a.multi-line-button.red:hover, a.multi-line-button.red:focus {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d27979), color-stop(50%, #c55353), color-stop(100%, #993333));
  background-image: -moz-linear-gradient(top, #d27979 0%, #c55353 50%, #993333 100%);
  background-image: linear-gradient(top, #d27979 0%, #c55353 50%, #993333 100%);
}
/* line 50, _multi-line-button.sass */
a.multi-line-button.red:active, a.multi-line-button.red.depressed {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #a04545), color-stop(100%, #b24d4d));
  background-image: -moz-linear-gradient(top, #a04545 0%, #b24d4d 100%);
  background-image: linear-gradient(top, #a04545 0%, #b24d4d 100%);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #732626;
}
/* line 20, multi-line-button.sass */
a.multi-line-button.orange {
  background-color: #d98026;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e19951), color-stop(50%, #d98026), color-stop(100%, #ae661e));
  background-image: -moz-linear-gradient(top, #e19951 0%, #d98026 50%, #ae661e 100%);
  background-image: linear-gradient(top, #e19951 0%, #d98026 50%, #ae661e 100%);
  border-color: #824d17;
  border-left-color: #d98026;
  border-top-color: #d98026;
  -moz-box-shadow: rgba(235, 230, 224, 0.5) 1px 1px 0 0 inset;
  -webkit-box-shadow: rgba(235, 230, 224, 0.5) 1px 1px 0 0 inset;
  -o-box-shadow: rgba(235, 230, 224, 0.5) 1px 1px 0 0 inset;
  box-shadow: rgba(235, 230, 224, 0.5) 1px 1px 0 0 inset;
  color: white;
  text-shadow: #985a1b 0 1px 2px;
}
/* line 48, _multi-line-button.sass */
a.multi-line-button.orange:hover, a.multi-line-button.orange:focus {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e4a667), color-stop(50%, #dd8d3c), color-stop(100%, #ae661e));
  background-image: -moz-linear-gradient(top, #e4a667 0%, #dd8d3c 50%, #ae661e 100%);
  background-image: linear-gradient(top, #e4a667 0%, #dd8d3c 50%, #ae661e 100%);
}
/* line 50, _multi-line-button.sass */
a.multi-line-button.orange:active, a.multi-line-button.orange.depressed {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #b8732e), color-stop(100%, #cc8033));
  background-image: -moz-linear-gradient(top, #b8732e 0%, #cc8033 100%);
  background-image: linear-gradient(top, #b8732e 0%, #cc8033 100%);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #824d17;
}

/* line 20, multi-line-button.sass */
a.multi-line-button.blue {
  background-color: #003366;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #000033), color-stop(50%, #003366), color-stop(100%, #3366cc));
  background-image: -moz-linear-gradient(top, #000033 0%, #003366 50%, #3366cc 100%);
  background-image: linear-gradient(top, #000033 0%, #003366 50%, #3366cc 100%);
  border-color: #824d17;
  border-left-color: #003366;
  border-top-color: #003366;
  -moz-box-shadow: rgba(235, 230, 224, 0.5) 1px 1px 0 0 inset;
  -webkit-box-shadow: rgba(235, 230, 224, 0.5) 1px 1px 0 0 inset;
  -o-box-shadow: rgba(235, 230, 224, 0.5) 1px 1px 0 0 inset;
  box-shadow: rgba(235, 230, 224, 0.5) 1px 1px 0 0 inset;
  color: white;
  text-shadow: #985a1b 0 1px 2px;
}
/* line 48, _multi-line-button.sass */
a.multi-line-button.blue:hover, a.multi-line-button.blue:focus {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #003366), color-stop(50%, #336699), color-stop(100%, #3366cc));
  background-image: -moz-linear-gradient(top, #003366 0%, #336699 50%, #3366cc 100%);
  background-image: linear-gradient(top, #003366 0%, #336699 50%, #3366cc 100%);
}
/* line 50, _multi-line-button.sass */
a.multi-line-button.blue:active, a.multi-line-button.blue.depressed {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #3366cc), color-stop(100%, #003366));
  background-image: -moz-linear-gradient(top, #3366cc 0%, #003366 100%);
  background-image: linear-gradient(top, #3366cc 0%, #003366 100%);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #824d17;
}

a.multi-line-button.grey {
  background-color: #bfbfbf;
  color: #990000;
  background-image: url('/sites/all/themes/custom/unity/stylesheets/images/red-arrow.png');
  background-position: 125px 0px;
  background-repeat: no-repeat;
  width: 160px;
  height: 60px;
}

a.multi-line-button.grey:hover
{
background-color: #666666;
}




div.unity-button, a.unity-button
{
width: 100%;
min-width: 200px;
height: 48px;
background-color: #cccccc;
float: left;
color: #000;

text-decoration: none;

-moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;

  margin: 5px 0px;

  .wrapper
  {
    width: 100%;
    height: 100%;

    .text{

      padding: 7px 7px;
      height: 100%;
      font-family: Arial, sans serif;
      float: left;
      font-size: 0.8em;
      max-width: 230px;

      h2
      {
        font-size: 1.6em;
        margin: 0px;
        padding: 0px;
        border-bottom: 0px;
      }

    }

    .icon
    {
        width: 36px;
        height: 100%;
        background-color: #990000;
        float: right;
        position: relative;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px; 

        img
        {
          width: 16px;
          height: 16px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -8px 0 0 -8px;
        }
    }
  }

}

a.unity-button:hover
{
background-color: #ddd;
cursor: pointer;
}




a.unity-button.report-a-problem
{
width: 100%;
height: 32px;
background-color: #ccc;
float: left;
color: #000;
min-width: 200px;
text-decoration: none;

-moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;


}

a.button.report-a-problem
{
  background-color: #990000;
  color: #fff;
  padding: 20px;
  width: 100%;
  margin: 0.5em 0;
  display: block;
  text-align: center;
  font-size: 1.3em;

}
a.button.report-a-problem:hover
{
  background-color: #660000;
  text-decoration: none;
}

a.unity-button.report-a-problem:hover
{
background-color: #ddd;
cursor: pointer;
}

a.unity-button.report-a-problem .wrapper
{
width: 100%;
height: 100%;
}

a.unity-button.report-a-problem .wrapper .text
{
padding: 7px 7px;
height: 100%;
font-family: Arial, sans serif;
float: left;
font-size: 0.9em;
}

a.unity-button.report-a-problem .wrapper .text h2
{
font-size: 1.2em;
margin: 0px;
padding: 0px;
border-bottom: 0px;
}

a.unity-button.report-a-problem .wrapper .icon
{
width: 36px;
height: 100%;
background-color: #990000;
float: right;
position: relative;
border-top-right-radius: 6px;
border-bottom-right-radius: 6px;


}

a.unity-button.report-a-problem .wrapper .icon img
{
width: 16px;
height: 16px;
position: absolute;
top: 50%;
left: 50%;
margin: -8px 0 0 -8px;
}


div.system-status
{
  height: 60px;
  color: #fff;
  
  padding: 5px;
}


div.unity-button.system-status, a.unity-button.system-status
{
  height: 32px;
  padding: 0px;

  .icon
  {
      background-repeat: no-repeat;
      background-position: 50% 50%;
  }
}

a.unity-button.system-status.offline .icon
{
  background-color: red;
  background-image: url('/sites/all/themes/custom/unity/stylesheets/images/system-status/offline.png');
 
}

a.unity-button.system-status.online .icon, div.unity-button.system-status.online .icon
{
  background-color: green;
  background-image: url('/sites/all/themes/custom/unity/stylesheets/images/system-status/online.png');
 
}

a.unity-button.system-status.upcoming-outage .icon
{
  background-color: blue;
  background-image: url('/sites/all/themes/custom/unity/stylesheets/images/system-status/scheduled.png');
 
}

a.unity-button.system-status.disruptions .icon
{
  background-color: orange;
  background-image: url('/sites/all/themes/custom/unity/stylesheets/images/system-status/disruptions.png');
 
}



div.system-status span.title
{
  text-transform: uppercase;
  width: 100%;
  font-size: 1.2em;
}



a.section-button.gray
{
  text-decoration: none;
  font-family: TradeGothicNextW01-Ligh 693250;
    text-align:center;
    font-size:1.0em;
    padding:0.5em;


    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 3px solid rgba(0,0,0,0.5);

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    background: rgba(200,200,200,1.0);

    box-shadow: 
        
    0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */

    -o-box-shadow: 
        
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

  -webkit-box-shadow: 
    0 2px 8px rgba(0,0,0,0), 
    inset 0 1px rgba(255,255,255,0), 
    inset 0 10px rgba(255,255,255,0.2), 
    inset 0 10px 20px rgba(255,255,255,0.0), 
    inset 0 -15px 30px rgba(0,0,0,0.0);
    
   

    -moz-box-shadow:
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);
  
  color: #000;
  

position: static;
display: block;
margin: 0px 0.5em;

width: 175px;
float: right;
text-align: center;
}

a.section-button.gray:hover
{
  background: rgba(175,175,175,1.0);
} 


a.glassy-button
{
  padding: 1em;
  display: block;
  margin-top: 15px;

        border: 2px solid $dark-red;
        border-radius: 10px;
      background-color: $dark-gray;
  color: #fff;
          text-shadow: /* Simulating Text Stroke */
        -1px -1px 0 #000, 
        1px -1px 0 #000, 
        -1px 1px 0 #000, 
        1px 1px 0 #000;

    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 3px solid rgba(0,0,0,0.5);

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    background: rgba(51,51,51,0.85);

    box-shadow: 
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */

    -o-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -webkit-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -moz-box-shadow:
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

        text-align: center;

      &:hover
      {
        text-decoration: none;
           background: rgba(153,0,0,0.85);
           color: #fff;


      }
}


.outline-button, a.outline-button
{
  border: 1px solid #fff;
  border-radius: 5px;
  background: #333333;
  background: rgba(51,51,51,0.8);
  color: #fff;
  text-transform: uppercase;
  padding: 1em;
  
  display: inline-block;
  zoom: 1;
  *display: inline;


}

.outline-button:hover, a.outline-button:hover
{

 background: #990000;
 background: rgba(153,0,0,0.8); 
 text-decoration: none;
}
