.blurb-cards-section
{
	h2{
		margin-bottom: 1em;
	}

	.introduction
	{
		padding: 1em 0;
		border-bottom: 1px solid $gray;
		margin-bottom: 2em;
	}

	.blurb-image img
	{
    	margin-bottom: 1em;
	}
}