@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/git\/kerrinpernic\/docroot\/sites\/all\/themes\/custom\/unity\/sass\/partials\/design\/help\.scss}line{font-family:\000032}}
.view-all-upcoming-events td.views-field-field-start-date, .view-front-upcoming-events td.views-field-field-start-date, .view-related-events td.views-field-field-start-date {
  width: 30%;
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/git\/kerrinpernic\/docroot\/sites\/all\/themes\/custom\/unity\/sass\/partials\/design\/help\.scss}line{font-family:\000038}}
.view-all-upcoming-events td, .view-front-upcoming-events td, .view-related-events td {
  background-color: #fff;
  padding: 10px 0px;
}
