.node-type-service-page.unity-no-sidebar
{
	#main-wrap
	{
		@include grid-span(1, 1, $options: 'both');

		@include breakpoint($break) {
			@include grid-span(4, 1, $options: 'right');
		}

		@include breakpoint($break2) {
			@include grid-span(16, 1, $options: 'right');
				
		}


	  /*#logo
	  {
	  

		@include grid-span(1, 1, $options: 'both');
	  
	   	@include breakpoint($break) {
			
			@include grid-span(4, 1, $options: 'both');
	  	
	  	}

	    

	  	@include breakpoint($break2) {
		
			@include grid-span(2, 1);
		
	  	}

	  }*/
	#title-content
	{
	

	  @include grid-span(1, 1, $options: 'both');
	  
	   @include breakpoint($break) {
		@include grid-span(4, 1, $options: 'both');
	  }

	   /* @include breakpoint($break2) {
		@include grid-span(9, 1, $options: 'both');
	  }  */
	  

	  @include breakpoint($break2) {
		@include grid-span(16, 1, $options: 'both');
		
	  }


	}



		#main-content
		{

			width: 100%;
			float: left;


			@include breakpoint($break2) 
			{
		
				margin-right: 2%;
				width: 73%;		
			}
		}

		#right-prefix
		{

			width: 100%;
			float: left;
			clear: both;
			@include breakpoint($break2) 
			{
		
				width: 25%;		
				float: right;
			}
		}

		#right-postfix
		{

			width: 100%;
			float: left;

			@include breakpoint($break2) 
			{
		
				width: 25%;		
				float: right;
			}
		}




		

	}





}

	.not-front.unity-sidebar
	{

		#main-prefix
		{

			display: none;
			

			@include grid-span(1, 1, $options: 'both');
			
			@include breakpoint($break) {
				
				@include grid-span(2, 1, $options: 'both');
			}
		  /*
		   @include breakpoint($break2) {
			@include grid-span(3, 1, $options: 'right');
			}*/

			@include breakpoint($break2) {
				display: block;
				padding: 5px 10px 5px 10px;
				@include grid-span(4, 1, $options: 'right');
				
			}
		}
		
		#main-wrap
		{

				padding: 5px 10px 5px 10px;

			@include grid-span(1, 1, $options: 'both');
			
			


			@include breakpoint($break) {
				@include grid-span(4, 1, $options: 'right');
			}
		  /*
		   @include breakpoint($break2) {
			@include grid-span(4, 6, $options: 'right');
			}*/

			@include breakpoint($break2) {

				padding: 5px 10px 5px 10px;
				@include grid-span(12, 5, $options: 'right');
				
				
				
			}



/*	  #logo
	  {
	  

		@include grid-span(1, 1, $options: 'both');
	  
	   	@include breakpoint($break) {
			
			@include grid-span(4, 1, $options: 'both');
	  	
	  	}

	    

	  	@include breakpoint($break2) {
		
			@include grid-span(2, 1);
		
	  	}

	  }*/
	#title-content
	{
	

	  @include grid-span(1, 1, $options: 'both');
	  
	   @include breakpoint($break) {
		@include grid-span(4, 1, $options: 'both');
	  }

	   /* @include breakpoint($break2) {
		@include grid-span(9, 1, $options: 'both');
	  }  */
	  

	  @include breakpoint($break2) {
		@include grid-span(16, 1, $options: 'both');
		
	  }


	}


				#main-content
		{

			width: 100%;
			float: left;

			@include breakpoint($break2) 
			{
		
				width: 60%;		
			}
		}

		#right-prefix
		{

			width: 100%;
			float: left;
			clear: both;
			@include breakpoint($break2) 
			{
		
				width: 38%;
				margin-left: 2%;		
				float: right;
			}
		}

		#right-postfix
		{

			width: 100%;
			float: left;

			@include breakpoint($break2) 
			{
		
				width: 38%;
				margin-left: 2%;		
				float: right;
			}
		}


		}

		

	}












