.hp-main {
	
	background-size: cover;
	min-height: 475px;
	

	.hp-main-info-text {

		padding: 2em;
		border: .1em solid $white;
		font-size: 1.7em;
		color: $white;
		text-align: left;
		vertical-align: middle;

		.read-more {

			@extend .read-more;
			font-size: .7em;
			color: $white;

			&:hover,
			&:focus {

				color: $gray;
			}
		}

	}
	.homepage-top-services {

		margin-top: 5em;
		padding: 0;

		.top-services-text {

		font-family: $font-school-spirit, serif; 
		text-transform: uppercase;
		font-size: 1.3em;
		font-style: italic;
		color: $white;

		}

		.top-service-links {

	    display: block;
	    background: rgba(51, 51, 51, 0.8);
	    padding: 1em;
	    text-transform: uppercase;
	    text-align: center;
	    border-bottom: 1px solid rgba(255,255,255,0.7);
	    box-sizing: inherit;
	    cursor: pointer;
	    font-family: $font;
	    @extend .button-trans;
	    zoom: 1;
	    color: $white;
	    margin: 0.5em;
	    
		    &:hover,
		    &:focus {
		        background-color: $alt-red;
		        border-bottom: 1px solid rgba(255,255,255,1);
		        color: $white;
			}
		}
	}
}
