/* Media Queries */


@media (max-width: 991px) {

	.media-card {

		h2 {
		
		margin-top: 1.7em;
		
		}
	}

	.event-media-highlight-card {

		margin-bottom: 3em;
	}
}

@media (max-width:767px) {

	.link-card {

		text-align: center;

	}	

	.media-object {


	min-height: 0;
	
	}

	.media-card {

		.media-card-title {
		
		margin-top: 1.7em;
		
		}
	}

	.event-media-highlight-card {

	margin-bottom: 3em;
	
	}
 

	.event-date-desc-card { 
		
		.event-date-desc-time {

				max-width: 25%;
				min-width: 25%;
		}
	}

	.media-highlight {

		.media-object {

			min-height: 0;	
		}
	}

}

@media (max-width: 660px) {

	.link-card {

		text-align: center;

	}

	.event-date-desc-card {

	position: relative;
	padding: 0;
	margin-bottom: 10%;

	}

	.event-date-desc-share-icon {

		line-height: 3em;
	}

	.event-date-desc-card { 

		padding-left: -30px;
		padding-right: -30px;

		.event-date-desc-time {

	    display: block;
	    text-align: left;
		color: $red;
		font-size: 1.3em;
	    left: 0;
	    top: 0;
	    max-width: 100%;
	    max-height: 100%;
	    margin-bottom: 1.5em;


		}
	}

	.media-highlight {

		.media-object {

			min-height: 0;	
		}
	}

	.hp-main {

		.hp-main-info-text {

			margin-bottom: 3em;
		}
	}
}
