.social {

	.social-icon {

		font-size: 3em;
		padding: .5em; 
		margin: 1em;
		text-align: center;
	}
}



.social-banner {

	.sbuicon-facebook {

		color: $facebook;
	}

	.sbuicon-twitter {

		color: $twitter;
	}
	.sbuicon-yammer {

		color: $yammer;
	}


	min-width: 100%;
	border: .1em solid $gray;
	margin-bottom: 3em;
	padding: 1em;
	background-color: $x-light-gray;

	span,
	time, {

		font-size: 1.1em;
		margin-right: .5em;
	}

	i {

		font-size: 1.5em;
		margin-right: .5em;
	}

	.handle, .post-time {

		font-family: 'Times New Roman', serif;
		font-style: italic;
	}
}

.social-img {

	margin-bottom: 3em;
	padding: .5em;
	border: .1em solid $gray;

	.sbuicon-instagram {

		color: $instagram;
	}

	.sbuicon-youtube {

		color: $youtube;
	}

	.sbuicon-flickr {

		color: $flickr;
	}

	img,
	video,
	iframe {

		min-width: 100%;
		
	}

	.info {

		padding: .5em;
		border: .1em solid $gray;

	
		i,
		time,
		span {

			margin-right: .5em;
			font-size: 1.1em;
		}
	}
}

.homepage-social-icons {

	margin-top: 4em;

	.sbuicon-instagram {

		color: $instagram;
	}

	.sbuicon-youtube {

		color: $youtube;
	}

	.sbuicon-flickr {

		color: $flickr;
	}
	.sbuicon-facebook {

		color: $facebook;
	}

	.sbuicon-twitter {

		color: $twitter;
	}
	.sbuicon-yammer {

		color: $yammer;
	}

	i {
		font-size: 3em;
		border: .1em solid $gray;
		padding: .5em;
		border-radius: 4.5em;
	}
}
