.event-media-highlight-card {

	height: 100%;

	.event-media-hightlight-item {

		font-size: 1.1em;
	}
	.event-media-highlight-img,
	.event-media-highlight-iframe,
	.event-media-highlight-video {

		max-width: 100%;
		border: 1px solid $light-gray;
		padding: 1em;
		margin-bottom: 1.5em;
	}

	.event-media-highlight-title {
		color: $red;
		font-size: 2.3em;
	}

}

.event-date-desc-card {

  ul {
    list-style-image: none;
    list-style-type: none;
    padding: 0;
  }
  li {
    list-style-image: none;
    list-style-type: none;
  }

	position: relative;
	margin-bottom: 30%;

	.event-date-desc-time {

		text-align: left;
		color: $red;
		font-size: 1.3em;

	    left: 0;
	    top: 0;
	    display: block;

	    ul li {

    			font-size: .8em;
	    }
	}

	.event-date-desc-time-title {
		font-size: 1.3em;
		color: $red;
	}

	.event-date-desc-item {

		font-size: 1.1em;
	}

	.event-date-desc-share {

		max-width: 100%;
		padding: 2em 0 1em;

		a {

			color: $dark-gray;

			&:hover,
			&:focus, {

				color: $red;
			}
		}

		.event-date-desc-share-icon {

			text-align: center;
			padding: .5em 0 .5em .5em;
			font-size: 1em;
			border: .1em solid $light-gray;
			margin-right: .5em;
		}
	}
}
