.help-card {

	padding: 2em;
	margin: 1em;

	.help-card-title {

		color: $red;
		font-size: 1.7em;
	}

	.help-card-item {
		font-size: 1.1em;
		line-height: 1.7em;
	}

	li:nth-child(1) {
		margin-bottom: 1em;
	}
}