body
{
	font-size: 1.0em;

}


.node-type-service-page.unity-no-sidebar #main-wrap #main-content
{
	margin: 0px;
	width:100%;
}


#banner {
width: 100%;
float: right;
margin-left: 0;
margin-right: 0;
max-height: 300px;
clear: both;


}

.blackboard #banner
{
background-color: #006600;
	background-image: url('images/brushed-alum.png');
}

.wolfienet #banner
{
background-color: #006699;
background-image: url('images/hexellence.png');
}

.solar #banner
{
background-color: #990000;
background-image: url('images/black-paper.png');
}

#banner-image, #banner-image a, #banner-image img
{
margin: 0px;
padding: 0px;
border: 0px;
display: block;


}

#banner-image
{
padding-left: 150px;
padding-top: 50px;
width: 50%;
float: left;
}


#banner-icons
{
position: relative;
top: -30px;
	left: 800px;
	z-index: 10;
	
	width: 300px;
	box-sizing: border-box;
	color: #fff;
}

#system-status
{
	display: inline;
	background-image: url("../images/checkmark.png");
	
	z-index: 10;
	height: 120px;
	width: 100px;
	padding-top: 40px;
	background-repeat: no-repeat;
	box-sizing: border-box;
	margin-right: 30px;
	background-position: 50% 0%;
}

#report-a-problem
{
	display: inline;
	background-image: url("../images/exclamation.png");
	background-position: 50% 0%;
	z-index: 10;
	height: 120px;
	width: 100px;
	padding-top: 40px;
	background-repeat: no-repeat;
	box-sizing: border-box;
}

a.report-problem-button:hover
{
	background: rgba(175,175,175,1.0);
}


#main-wrap
{
	padding: 0px 0px;
}

#main-content .heading-separator
{
	
	clear: both;
}



#main-content  .heading-separator h2
{
	color: #000;
	font-size: 3.5em;
	text-align: center;
	margin: 0px;
	font-family: 'TradeGothicNextW01-Ligh 693250';
	
}

#system-status-message.heading-separator
{
	
	
	
	padding: 60px 30px;
}




#system-status-message
{
float: left;
width: 100%;
font-size: 1.5em;


}
#system-status-message.scheduled-maintenance
{

background: #3a9cff; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #3a9cff 0%, #9bc9f7 45%, #3a9cff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3a9cff), color-stop(45%,#9bc9f7), color-stop(100%,#3a9cff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #3a9cff 0%,#9bc9f7 45%,#3a9cff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #3a9cff 0%,#9bc9f7 45%,#3a9cff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #3a9cff 0%,#9bc9f7 45%,#3a9cff 100%); /* IE10+ */
background: linear-gradient(135deg,  #3a9cff 0%,#9bc9f7 45%,#3a9cff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a9cff', endColorstr='#3a9cff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

padding: 5px 30px;;
}

#system-status-message.service-disruptions
{
background: #e0a855; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #e0a855 0%, #f9df81 45%, #e0a855 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e0a855), color-stop(45%,#f9df81), color-stop(100%,#e0a855)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #e0a855 0%,#f9df81 45%,#e0a855 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #e0a855 0%,#f9df81 45%,#e0a855 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #e0a855 0%,#f9df81 45%,#e0a855 100%); /* IE10+ */
background: linear-gradient(135deg,  #e0a855 0%,#f9df81 45%,#e0a855 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0a855', endColorstr='#e0a855',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#system-status-message.online
{
background: #99cc99; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #99cc99 0%, #cdf9cc 45%, #99cc99 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#99cc99), color-stop(45%,#cdf9cc), color-stop(100%,#99cc99)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #99cc99 0%,#cdf9cc 45%,#99cc99 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #99cc99 0%,#cdf9cc 45%,#99cc99 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #99cc99 0%,#cdf9cc 45%,#99cc99 100%); /* IE10+ */
background: linear-gradient(135deg,  #99cc99 0%,#cdf9cc 45%,#99cc99 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99cc99', endColorstr='#99cc99',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
#system-status-message.offline
{
background: #ff5c5c; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #ff5c5c 0%, #fe9090 45%, #ff5c5c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff5c5c), color-stop(45%,#fe9090), color-stop(100%,#ff5c5c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #ff5c5c 0%,#fe9090 45%,#ff5c5c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #ff5c5c 0%,#fe9090 45%,#ff5c5c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #ff5c5c 0%,#fe9090 45%,#ff5c5c 100%); /* IE10+ */
background: linear-gradient(135deg,  #ff5c5c 0%,#fe9090 45%,#ff5c5c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#ff5c5c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#system-status-message .status-heading
{
	float: left;
	width: 65%;
	font-size: 2.0em;
}

#system-status-message .status-message
{
clear: both;
padding: 20px 60px;

}

#system-status-message.scheduled-maintenance .status-message
{
padding: 20px 0px;
}



#system-status-message .status-message p
{
	margin-top: 0px;
}

#system-status-message .status-message .time
{
	
}
#system-status-message .status-message .time strong
{
	margin-left: 15px;
}

#system-status-message .status-message .time strong.first
{
	margin-left: 0px;
}

#system-status-message #system-status-buttons
{
float: right;
width: 35%;
}

#system-status-message #system-status-buttons a:hover
{
	background: rgba(175,175,175,1.0);
}

#system-status-message #system-status-buttons a, a.report-problem-button
{
	padding: 30px;
	text-decoration: none;

	font-family: TradeGothicNextW01-Ligh 693250;
    
    text-align:center;
    font-size:18px;
    

    padding:10px;


    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 3px solid rgba(0,0,0,0.5);

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    background: rgba(200,200,200,1.0);

    box-shadow: 
        
		0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */

    -o-box-shadow: 
        
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

	-webkit-box-shadow: 
		0 2px 8px rgba(0,0,0,0), 
		inset 0 1px rgba(255,255,255,0), 
		inset 0 10px rgba(255,255,255,0.2), 
		inset 0 10px 20px rgba(255,255,255,0.0), 
		inset 0 -15px 30px rgba(0,0,0,0.0);
		
   

    -moz-box-shadow:
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);
  
  color: #000;
  

position: static;
display: block;
margin: 0px 10px;

width: 175px;
float: right;
text-align: center;
}


.section
{
	padding: 60px 30px;
	width: 1200px;	
	font-family: TradeGothicNextW01-Ligh 693250;
	float: left;
	margin: 0 auto;
	clear: both;
}

.section-contents
{
padding: 30px 30px;
}

.section.gray
{
	
	background-image: url(images/bright-squares.png);
	background-repeat: repeat-both;
	background-color: #eee;
	
}

span.icon.left
{
	margin-right: 15px;
}

span.icon.right
{
	margin-left: 15px;
	
}

span.icon.red, a span.icon.red
{
color: #990000;
}

a.report-a-problem  span.icon
{
	font-size: 1.8em;
}

#login-button .icon
{
font-size: 0.8em;
}

.text-card
{
	float: left;
	padding: 10px;
	
}

.section.one-card .card
{
	width: 80%;
	margin: 0px auto;
	padding-top: 30px;
}

.section.three-cards .card
{
	width: 30%;
	margin: 0% 1.5%;
}

.section.six-cards .card
{
	width: 30%;
	margin: 0% 1.5%;
}

.section.two-cards .card
{
	width: 40%;
	
	margin: 0% 5%;
}

.section.two-cards .user-card
{
	width: 47%;
	
	margin: 0% 1.5%;
}

.section.three-cards .card.image-card
{
width: 30%;
	margin: 0% 1.5%;
		padding: 20px;
}

.section.three-cards .card.image-card img
{

}

.image-card img
{
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */

		-webkit-transition: 0.5s all ease-in;
  -o-transition: 0.5s all ease-in;
  -moz-transition: 0.5s all ease-in;
  transition: 0.5s all ease-in;
}

.image-card img:hover
{
   filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
	-webkit-transition: 0.5s all ease-in;
  -o-transition: 0.5s all ease-in;
  -moz-transition: 0.5s all ease-in;
  transition: 0.5s all ease-in;
}



.clear { /* Also commonly known as clearfix */
clear: both; /* At the very least, you must have this. All extra declarations are for fine-tuning */
height: 0;
font-size: 0;
overflow: hidden;
margin: 0;
padding: 0;
width: 0;
line-height: 0;
}



#introduction
{

font-size: 1.8em;

line-height: 1.60em;
padding: 30px 30px;

}

#introduction p
{
margin: 0px 0px 20px 0px;
}


.cardWrapper {
text-align: left;
display: block;
float: left;



}

.cardWrapper .cardContentWrapper {
margin: 0px;
padding: 10px;
}

.cardWrapper .cardContentWrapper img {
width: 100%;
height: auto;
padding-bottom: 10px;
}



.userStoryWrapper {
text-align: left;
display: block;
float: left;
margin-bottom: 12px;
margin-left: 12px;
width: 570px;
min-height: 260px;
border: #B7B5B6 1px solid;
background: #FFF;

}

.userStoryWrapper .userStoryContentWrapper {
margin: 0px;
padding: 10px;
}

.userStoryWrapper .userStoryContentWrapper img {

float: left;
width: 170px;
height: 240px;

}

.userStoryWrapper .userStoryContent {

float: left;
margin-left: 10px;
width: 300px;

}

.userStoryWrapper .userStoryContent p
{
margin-top: 0px;
}

.userStoryWrapper .userStoryContent em {

font-size: 1.5em;

}

.userStoryWrapper .userStoryContent .credit
{
clear: both;
margin-top: 10px;
font-size: 1.2em;
}

.accordion .ui-state.default
{

}

.accordion h3.ui-accordion-header.ui-state-default.ui-state-active
{
font-size: 1.4em;

	background-color: #eee;
}

.accordion h3.ui-accordion-header.ui-state-default
{
background-image: url(images/asfalt-light.png);
	background-repeat: repeat-both;
	background-color: #bbb;
}

.accordion p a 
{
color: #990000;
}


#faq p
{
font-size: 1.4em;
}

#footer
{
padding: 30px 30px;
}

a.report-problem-button
{
width: 75%;
text-align: left;
float: left;
margin: 0px;
}

#login-button
{



width: 50%;
height: 300px;
padding: 100px 0px;
margin: 0px;
max-height: 300px;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	position: relative;
	float: left;
	
}

#login-button a
{
	
	padding: 30px;
	text-decoration: none;

	font-family: TradeGothicNextW01-Ligh 693250;
    color:#ffffff;
    text-align:center;
    font-size:24px;
    font-weight:bold;

    padding:10px;

    text-shadow: /* Simulating Text Stroke */
        -1px -1px 0 #000, 
        1px -1px 0 #000, 
        -1px 1px 0 #000, 
        1px 1px 0 #000;

    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 3px solid rgba(0,0,0,0.5);

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    background: rgba(0,0,0,0.15);

    box-shadow: 
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */

    -o-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -webkit-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -moz-box-shadow:
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);
  
  color: #fff;
  
width: 75%;
position: static;
display: block;
margin: 0px auto;

font-size: 3.0em;
text-align: center;
}

#login-button a:hover
{
	background: rgba(0,0,0,0.25);
}



.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}