.site-footer {
  background: $footer-bg;



  .top-footer {
    @extend .fluffy;

    background: $footer-bg;
    background-image: url("../assets/images/backgrounds/images/shieldbg.png");
    background-size: cover;
    border-bottom: 1px solid $gray;
    color: $gray;
    display: block;
    font-family: "Trade Gothic Next W01";
    font-size: 1em;
    position: relative;
    z-index: 1;

    ul {

      list-style-image: none;
      list-style-type: none;
      padding: 0;

      li {

        list-style-image: none;
        list-style-type: none;

      }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      color: $light-gray;
    }

    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1.7em;
    }

    h3 {
      font-size: 1.2em;
    }
  }

  .bottom-footer {
    background: $black;
    color: $gray;
    display: block;
    font-family: "Trade Gothic Next W01";
    font-size: 1em;
    padding: 1em 0;

    position: relative;
    z-index: 1;

  }

  .address, .address a, .codes {
      line-height: 1.7em;
  }

  .codes {
      background: #191919;
      display: block;
      line-height: 1.7em;
  
      margin: 0 auto;
      border: 1px solid #000;
      padding: 10px 0;

      width: 200px;
  }
    .address .serif-italic,
    .codes .serif-italic {
        font-size: 1.3em;
        line-height: 1.4em;
        margin: 0 0 4px;
        display: block;
    }
    a {
        color: #ccc;
    }
    a:hover {
        color: #fff;
    }
    .address-link .icon {
        display: inline-block;
        margin: 0 6px 0 0;
        font-size: 1.2em;
    }
    .small-button,
    .phone a,
    .footer-bar span a {
        font-size: .8em;
        display: inline-block;
        padding: 1px 8px 3px;
        border: 1px solid #383838;
        margin: 8px auto;
        background: #222;
        border-radius: 3px;
    }
    .phone {
        display: block;
    }
    .phone a {
        color: #ddd;
        width: 100px;
        padding-top: 0px 8px 1px;
    }
    .social h5 {
        font-size: 1.4em;
        font-family: 'ITCFranklinGothicW01-Md 812695';
        text-transform: uppercase;
        margin: 0 0 15px;
        color: #ccc;
    }
    .social-links a {
        display: inline-block;
        padding: 10px 10px 0;
        margin: 0 4px;
        width: 42px;
        height: 42px;
        border-radius: 21px;
        border: 1px solid #383838;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 1.4em;
        line-height: 0;
    }
    .social-links a em {
        text-shadow: 0 0 4px rgba(70, 70, 70, 0.3);
    }
    .social-links a:hover span {
        color: #fff;
    }
    .social .small-button {
        margin: 15px 0 5px;
    }
    .social .small-button:after {
        content: " ";
    }
    .footer-links {
        @include breakpoint($screen-md) {
            text-align: left;
        }
    }
    background-size: cover;
    color: $white;
    @extend .card-item-font;
    h2 {
        color: $white;
        font-size: 1.3em;
        padding: .5em 0 .5em 0;
        margin: 0.5em 0 0.5em 0;
    }
    ul li a {
        color: $light-gray;
        &:hover,
        &:focus {
            color: $gray;
            border-bottom: 0.1em dashed $x-light-gray;
        }
    }
}
