#header, #header-content
{
	background-color: #fff;
	padding: 0px;
	
	max-height: 92px;
}



#university-logo
{
	max-width: 344px;
	width: 35.83333333333333%;

	display: inline-block;
	padding: 0px;
	margin: 0px;
}

#site-logo
{
	max-width: 619px;
	width: 64.16666666666667%;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

#header
{
	#logo, #logo img
	{
		width: 64.166666666667%;
		max-width: 616px;
	}
}

#header-content
{
	max-width: 1200px;
	margin: 0 auto;
}
