#main-prefix
{
   .block
   {
      margin-bottom: 20px;
   }

   h2
   {
      margin-bottom: 0.5em;
   }
}
#main-prefix ul
{
margin: 0px 0px 0px 0px;
padding: 0px;
}

#main-prefix ul ul
{
margin: 15px 0px 0px 10px;
padding: 0px;
border-top: 1px solid #ccc;
}

#main-prefix ul li:last-child
{
border-bottom: 0px;
}

#main-prefix ul li {
   list-style: none;
   
   padding: 0px 0px 5px 0px;
   text-align: left;
   margin: 6px 0px 4px 0px;
   
   border-bottom: 1px solid #ccc;
 }
 
 #main-prefix ul li a 
 {
 text-decoration: none;
 }


 .menu ul
{
margin: 0px 0px 0px 0px;
padding: 0px;
}

.menu ul ul
{
margin: 15px 0px 0px 10px;
padding: 0px;
border-top: 1px solid #ccc;
}

.menu ul li:last-child
{
border-bottom: 0px;
}

.menu ul li {
   list-style: none;
   
   padding: 0px 0px 5px 0px;
   text-align: left;
   margin: 6px 0px 4px 0px;
   
   border-bottom: 1px solid #ccc;
 }
 
 .menu ul li a 
 {
 text-decoration: none;
 }

 .panel-pane.menu
 {
 	.field-item
 	{
 		padding: 0px 0px 5px 0px;
   		text-align: left;
   		margin: 6px 0px 4px 0px;
   		border-bottom: 1px solid #ccc;
 	}

 	.field-item:last-child
 	{
 		border-bottom: 0px;
 	}
 }


