// Fonts
//$sidr-font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
$sidr-font-family: Arial, Helvetica, sans-serif;
$sidr-font-size: 15px;

// Colors
$sidr-background : #f8f8f8;
$sidr-background-shadow-color : #ebebeb;
$sidr-text-color: #333;


.sidr-class-contextual-links-wrapper
{
	display: none;
}

.sidr #sidr-id-main-menu-links
{
		li
		{
			  line-height: 40px;
            border-top: 1px solid lighten($sidr-background, 5%);
            border-bottom: 1px solid darken($sidr-background, 5%);

            a
            {
            	color: #990000;
            	font-weight: bold;
            }
		}
	
	
}

@import "sidr-base";