.hero-events-page 
{
	h1
	{
		font-size: 3em;
	}

	.event-time
	{
		font-size: 2em;
		text-shadow: 2px 2px 5px #000;
	}

	.event-room
	{
		font-size: 2em;
		text-shadow: 2px 2px 5px #000;
	}

	.hero-buttons
	{
		margin-top: 1.5em;
	}

	.hero-content-wrap
	{
		.hero-content-text
	{
		h1
		{
			font-size: 3em;
		}
	}
	}

}
