.hero-img-section {
    position: relative;
    padding: 60px 0 60px 0;
    background-size: cover;
    color: #fff;
}

.hero-800 {
    position: relative;
    padding: 60px 0 60px 0;
    min-height: 800px;
    background-size: cover;
    color: #fff;

h1 {
    margin: 200px 0 45px 0;
    font-weight: 300;
    font-size: 45px;
}

h1 span {
    display: inline-block;
    color: #fff;

}

> p + p {
	padding-top: 5px;
}
}