/*used for icomoon font rebranding*/

//scheduled maintenance
.icon-system-status-307 {
    content: "\ea5f";
}

//disruption
.icon-system-status-308 {
    content: "\ed4c";
}

//outage
.icon-system-status-309 {
    content: "\ed62";
}

//information
.icon-system-status-310 {
    content: "\ed61";
}

.heading-icon:before {
    margin: 0;
    font-size: 4em;
}

i.heading-icon {
    display: block;
    margin-bottom: 2em;
}

a.link-icon:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a.link-icon {
    font-family: arial;
    font-size: 1.2em;
}