.margin-right-5px
{
	margin-right: 5px;
}

.margin-right-10px
{
	margin-right: 10px;
}

.margin-right-halfem
{
	margin-right: 0.5em;
}


.margin-right-1em
{
	margin-right: 1em;
}

.margin-right-2em
{
	margin-right: 2em;
}

.margin-top-2em
{
	margin-top: 2em;
}

.margin-top-1em
{
	margin-top: 1em;
}


.margin-bottom-2em
{
	margin-bottom: 2em;
}

.margin-bottom-1em
{
	margin-bottom: 1em;
}

.margin-bottom-quarterem
{
	margin-bottom: 0.25em;
}


.fluffy
{
	padding: 6em 0em;
}

.light
{
	padding: 5em 0em;
}

.spacey
{
	padding: 4em 0em;
}

.comfy
{
	padding: 3em 0em;
}

.cozy
{
	padding: 2em 0em;
}

.snug
{
	padding: 1em 0em;
}

.tight
{
	padding: 0;
}

.full-width
{
	width: 100%;
}

.half-width
{
	width: 50%;
}

.third-width
{
	width: 33.3333%
}


.col-centered{
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.centered, .center-text
{
	text-align: center;
}
