////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////


body
{
		background: #fff;
}



#header-content
{
	max-width: 1200px;
	margin: 0 auto;
}

#page
{
	background-color: #fff;
}


.clearboth
{
	clear: both;
}


.rtecenter
{
	text-align: center;
}




@import 'text';
@import 'backgrounds';
@import 'views-styles';
@import 'webforms';
@import 'inline-list';


