////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////


body
{
		background: #fff;
}



#header-content
{
	max-width: 1200px;
	margin: 0 auto;
}

#page
{
	background-color: #fff;
}


.clearboth
{
	clear: both;
}


.rtecenter
{
	text-align: center;
}

.fluffy
{
	padding: 6em 0em;
}

.light
{
	padding: 5em 0em;
}

.spacey
{
	padding: 4em 0em;
}

.comfy
{
	padding: 3em 0em;
}

.cozy
{
	padding: 2em 0em;
}

.snug
{
	padding: 1em 0em;
}

.tight
{
	padding: 0;
}

.full-width
{
	width: 100%;
}

.half-width
{
	width: 50%;
}


@import 'text';
@import 'backgrounds';
@import 'views-styles';
@import 'webforms';
@import 'inline-list';


