ul.inline-list
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	
	li
	{
		display: inline-block;
	}

}


.inline-list.large-inline-3
{
	li
	{


	@include breakpoint($break-desktop)
	{
		width: 30%;
		padding: 1.5em;
		margin: 0 1.5%;
		vertical-align: top;
	}
}

}