a:link, a:visited, a:active {
		background-color: transparent;
		color: $red;
		text-decoration: none;
}

a:hover, a.selected {
		background-color: transparent;
		color: $dark-gray;
		text-decoration: underline;
}

h1,h2,h3,h4,h5,h6
{
		font-weight: normal;
		margin: 1em 0;
}


.intro-text
{
	font-size: 1.3em;
	line-height: 1.5em;
}


.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}



