
h1,h2,h3,h4,h5,h6
{

		font-weight: normal;
}


body
{
	font-family:'Helvetica W02', Arial, Verdana, Tahoma, Sans-Serif;


/*	font-size: 12px;

	@include breakpoint($break3)
	{
		font-size: 14px;
	}

		@include breakpoint($break4)
		{
			font-size: 16px;
		}

*/

	word-wrap: break-word;

}




.intro-text p
{
	font-size: 1.4em;
	//line-height: 1.55em;
}


.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}



body.unity
{

	font-size: 12px;

	@include breakpoint($break-phone)
	{
		font-size: 14px;
	}



	line-height: 1.55;

	@include breakpoint($break-narrow-desktop)
	{
		font-size: 16px;
	}

	h1 {
		
		font-size: 2.50em;
		margin: 10px 0 10px 0;
		padding: 0px;
	}

	h2 {
		font-size: 2.25em;
	

		margin: 0 0 0.5em 0;
		padding: 0px;	
	}

	.star-title h2
	{
		font-size: 1.7em;
		margin: 0 0 0 10px;
		color: #ffffff;
	}


.sub-star-pane
{
	margin-top: 10px;
	
	h2.pane-title
	{

		margin-bottom: 5px;
		font-size: 1.2em;
	}
}



	h3 {

	
		font-size: 2.0em;
		margin: 0 0 0.4em 0;
		padding: 0px;

		&.blue
		{
			color: $blue;
		}
		
	}

	h4 {

	
		font-size: 1.75em;
		margin: 0 0 0.3em 0;
		padding: 0px;
		
	}

	h5 {

	
		font-size: 1.5em;
		margin: 0 0 0.3em 0;
		padding: 0px;

	}

	h6 {

	
		font-size: 1.25em;
		margin: 0 0 0.3em 0;
		padding: 0px;

	}

	h1.section-heading
	{
		font-size: 3.0em;
		margin: 0.5em 0;
		
	}

	.section-heading
	{
		text-align: center;
		line-height: 1.25;
		margin: 0px;
	}

	h2.section-heading
	{
		font-size: 2.5em;
		
	}


	.accordion h3
	{
		font-size: 1.0em;
		margin: 0;
	}

	.view
	{
		
	h1 {
		
		font-size: 2.00em;
		


		margin: 0 0 0.6em 0;
		padding: 0px;
	}

	h2 {
		font-size: 1.5em;
	

		margin: 0 0 0.5em 0;
		padding: 0px;	
	}


	h3 {

	
		font-size: 1.16em;
		margin: 0.6em 0 0.4em 0;
		padding: 0px;

		&.blue
		{
			color: $blue;
		}
		
	}

	h4 {

	
		font-size: 1.75em;
		margin: 0 0 0.3em 0;
		padding: 0px;
		
	}

	h5 {

	
		font-size: 1.5em;
		margin: 0 0 0.3em 0;
		padding: 0px;

	}

	h6 {

	
		font-size: 1.25em;
		margin: 0 0 0.3em 0;
		padding: 0px;

	}
	}

	p.intro-text
	{
		font-size: 1.5em;
	}

	p.caption
	{
		margin: 0px 0px $normal-spacing;
		font-size: 0.8em;
		color: $dark-gray;
	}

	blockquote
	{
		margin: 0 0 1.25em 0;
		font-size: 1.5em;
		font-style: italic;
	}



	div.pull-right
	{

		.media-with-caption, blockquote
		{
			float: right;
			margin-left: 30px;
			width: 50%;
		}


	
		clear: both;
		
	

	}

	div.pull-left
	{

		.media-with-caption, blockquote
		{
			float: left;
			margin-right: 30px;
			width: 50%;
		}
		
		
		clear: both;
		
	}

	.border-right
	{
		border-right: 5px solid $stony-brook-red;
	}

	.border-left
	{
		border-left: 5px solid $stony-brook-red;
		padding-left: 10px;
	}

	
	.callout p
	{
		margin-top: 0px;
	}

	.callout img
	{
		margin: 0;
		padding: 0;
	}


	#banner-content
	{
		
		color: #fff;
		
	
		
		h1
		{
			font-size: 3.5em;
			margin: 0px;
			text-shadow: 2px 2px #000000;
		}

		p,blockquote
		{
			width: 80%;
			max-width: 600px;
			font-size: 1.2em;
		}

		
		

		a.banner-button
		{

			margin-bottom: 5px;

			@include breakpoint($break2)
			{
				margin-bottom: 0px; 
				margin-right: 5px;
			}

			display: inline-block;
			background-color: $red;
			color: #fff;
			padding: 1em;
			min-width: 200px;

			border: 2px solid $dark-red;
    		border-radius: 10px;

    		  text-shadow: /* Simulating Text Stroke */
        -1px -1px 0 #000, 
        1px -1px 0 #000, 
        -1px 1px 0 #000, 
        1px 1px 0 #000;

    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 3px solid rgba(0,0,0,0.5);

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    background: rgba(51,51,51,0.85);

    box-shadow: 
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */

    -o-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -webkit-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -moz-box-shadow:
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

        text-align: center;

			&:hover
			{
				text-decoration: none;
				   background: rgba(153,0,0,0.85);


			}
		}

		a.banner-button-large
		{
			font-size: 2.0em;
			padding: 1em;
			margin-top: 1em;
			min-width: 300px;
			width: 40%;
		}



	}

		.card
		{
			h2
			{
				font-size: 1.5em;
			}
		}

}



#right-prefix, #right-postfix, #main-prefix
{
	h1
	{

	}
	h2
	{
		font-size: 1.3em;
	}

	h3
	{

	}

	h4
	{

	}

	h5
	{

	}

	h6
	{

	}
}

#footer
{
	h2
	{
		font-size: 1.5em;
	}
}


span.icon.left
{
	margin-right: 15px;
}

span.icon.right
{
	margin-left: 15px;
	
}


a.more-link
{
/*	padding: 5px;
	color: #fff;
	width: 160px;
	display: block;
	margin-top: 5px;

	font-family: inherit;
font-size: 100%;
padding: .5em 1em;
color: #444;
border: 1px solid #999;

background-color: #E6E6E6;
text-decoration: none;
border-radius: 2px;*/
display: block;
margin-top: 10px;
}

a.more-link:hover
{
	text-decoration: none;
	color: $dark-red;
	//box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
}

a.more-link:after
{
	font-family: 'icomoon';
        content: '\e732';
        speak: none;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
	margin-left: 15px;
}


.heading-separator
{
	text-align: center;
	margin: 2em;
}