.node-type-webform fieldset
{
border: 0px;
border-bottom: 0px #000 solid;
margin-bottom: 25px;
padding-bottom: 10px;
}

.node-type-webform fieldset legend
{
	font-size: 1.5em;
	margin-bottom: 10px;
}

.form-textarea-wrapper
{
	width: 95%;
}


.page-node-submissions table, .page-node-submissions table th, .page-node-submissions table td
{
	padding: 15px;
}

.view-your-submissions .views-field-is-draft
{
	text-transform: uppercase;
}


.node-type-webform .webform-client-form .form-item
{
	padding: 10px 0px;
}


.node-type-webform .webform-client-form .form-item label
{
	display: block;
	font-size: 1.2em;
	padding-bottom: 5px;
}

.node-type-webform .webform-client-form .form-item input, .node-type-webform .webform-client-form .form-item textarea
{
	font-size: 1.4em;
	padding: 5px;
	max-width: 95%;
	
}

.node-type-webform .webform-client-form .form-actions input[type=submit]
{
	padding: 20px 40px;
}

.node-type-webform .webform-client-form .form-item .description
{
	padding: 5px 0px;
	font-style: italic;
}


.node-type-webform .webform-client-form .form-item .form-required
{
	color: #990000;
}
