/* audience dropdown on mobile? */

.dropdown-nav {
    margin: 0 auto;
    float: none;
}

.dropdown-nav a {
    border-bottom: 0 none;
}

.dropdown-nav a:before {
    font-family: FontAwesome;
    content: "\f005";
    margin-right: 8px;
    font-size: 10px;
    display: inline-block;
    float: left;
    color: #a00;
}

.dropdown-nav a:hover:before {
    color: #fff;
}