.img_background{
	display:none;
}

.img-nav-bar{
	background-image:url("http://mysbfiles.stonybrook.edu/~wchiu/roof-view-2.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-size: 100% 100%;
	text-align:center;
}

.sec_button{
	padding:10px;
	margin:10px;
	background-color:#3498db ; /*sky blue */
	opacity:0.8;
	border-radius:5px;
	width:auto;
	display:inline-block;
	font-size:2em;
	font-weight:bold;
}

a.sec_button{
	color:black;
}

.sec_button:hover{
	color:black;
	background-color:#55a9e1;
	opacity:0.8;
}

.img_nav_code{
	width:60%;
	margin:auto;
}