/* specific styles for sbu nav */

.nav-elements-container {
    position: relative;
}

.quick-nav {
    background-color: #292929;
    ul {
        li {
            text-align: center;
            float: left;
            width: 20%;
        }
    }
    a, .more-trigger, .audience-trigger {
        text-decoration: none;
        border: 0 none;
        color: #ddd;
        display: block;
        padding: 10px 5px;
        text-shadow: 0 1px 0 #000;
        font-size: 14px;
        font-family: 'Trade Gothic W01 Cn 18';
    }
    a .icon, .more-trigger .icon, .audience-trigger .icon {
        min-height: 32px;
    }
    .more-trigger, .audience-trigger {
        cursor: pointer;
    }
    a:hover,
    a.selected,
    .more-trigger:hover,
    .more-trigger.selected,
    .audience-trigger:hover,
    .audience-trigger.selected {
        background-color: #990000;
        color: #f7f7f7;
    }
    .icon {
        font-size: 30px;
    }
    .icon.fa-mobile {
        font-size: 40px;
        line-height: 30px;
    }
    .quick-nav-label {
        display: block;
        width: 100%;
        margin: 5px 0 0;
    }
}

@media only screen and (min-width: 1022px) {
    .cd-dropdown ul {
        box-shadow: none !important;
        height: 40px !important;
        width: 100% !important;
        max-width: 1022px;
    }
    .audience-nav {
        display: none;
        box-shadow: 0px 12px 20px -16px #000 inset, 0px -12px 20px -12px #000 inset;
        background-color: #292929;
        text-shadow: 0 1px 0 #000;
    }
    .cd-dropdown ul li a {
        background: transparent !important;
        color: #eee !important;
    }
    .nav-elements-container {
        padding: 0 0 38px 0;
    }
    .quick-nav-wrapper {
        width: 1022px;
        margin: 0 auto;
    }
    .quick-nav {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: #fff;
        box-shadow: none;
    }
    .quick-nav ul {
        width: auto;
        margin: 0;
        float: right;
        border-radius: 0 0 18px 18px;
        border: 1px solid #ccc;
        border-top: 0 none;
        height: 38px;
    }
    .quick-nav ul li {
        float: left;
        width: auto;
        background: #fff;
        height: 100%;
    }
    .quick-nav ul li .quick-nav-label {
        border-right: 1px solid #900;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 9px 0 0;
        text-align: left;
    }
    .quick-nav ul:hover .quick-nav-label {
        border-right: 1px solid #fff;
    }
    .quick-nav ul li:hover .audience-trigger .quick-nav-label {
        border-right: 1px solid #900;
    }
    .quick-nav ul li.before-selected .quick-nav-label {
        border-right: 1px solid #fff;
    }
    .quick-nav ul li .audience-trigger.selected .quick-nav-label {
        border-right: 1px solid #900;
    }
    .quick-nav ul li .more-trigger.selected .quick-nav-label {
        border-right: 1px solid #292929;
    }
    .quick-nav ul li:hover .quick-nav-label {
        border-right: 1px solid #292929;
    }
    .quick-nav ul li:first-child {
        border-radius: 0 0 0 16px;
    }
    .quick-nav ul li:first-child a,
    .quick-nav ul li:first-child .more-trigger,
    .quick-nav ul li:first-child .audience-trigger {
        border-radius: 0 0 0 12px;
        padding-left: 14px;
    }
    .quick-nav ul li:first-child {}
    .quick-nav ul li.for-info {
        margin-right: 165px;
    }
    nav[data-search-style="stay-in-nav"] ul li.for-info {
        margin-right: 0;
        border-radius: 0 0 16px 0;
    }
    nav[data-search-style="stay-in-nav"] ul li.for-info span {
        border-radius: 0 0 16px 0;
    }
    .quick-nav a,
    .quick-nav .more-trigger,
    .quick-nav .audience-trigger {
        text-decoration: none;
        color: #000;
        display: block;
        text-shadow: none;
        font-size: 11px;
        font-family: 'Trade Gothic Next W01','Oswald';
        font-weight: 400;
        text-transform: uppercase;
        padding: 11px 0 13px 10px;
        border: 0 none;
    }
    .quick-nav .audience-trigger {
        color: #900;
        padding: 11px 0 12px 10px;
        font-family: 'Trade Gothic W01 Bold 2','Oswald';
    }
    .quick-nav ul .audience-trigger .quick-nav-label {
        padding-left: 10px;
        position: relative;
    }
    .quick-nav .audience-trigger .quick-nav-label,
    .quick-nav ul:hover .audience-trigger .quick-nav-label {
        border-right: 1px solid #fff;
    }
    .quick-nav a:hover,
    .quick-nav a.selected,
    .quick-nav .more-trigger:hover,
    .quick-nav .more-trigger.selected {
        text-shadow: 0 0 1px #000;
        background-color: #292929;
    }
    /*
    	.quick-nav ul li:last-child .quick-nav-label:after {
    		content: "...";
    		display: inline-block;
    		color: #900;
    	}
    */
    .quick-nav .audience-trigger.selected .quick-nav-label:after,
    .quick-nav .more-trigger.selected .quick-nav-label:after,
    .quick-nav ul li:last-child:hover .quick-nav-label:after {
        color: #fff;
    }
    .quick-nav .quick-nav-label {
        margin-top: 0;
    }
    .quick-nav .icon {
        display: none;
    }
    .quick-nav .quick-nav-label .icon {
        display: block;
        position: absolute;
        font-size: 1.3em;
        left: 0;
        top: 0;
    }
    .quick-nav .quick-nav-label .icon.rotate-left90 {
        left: 8px;
        top: -9px;
    }
    .quick-nav .quick-nav-label .icon.fa-caret-up {
        left: -3px;
        top: -1px;
    }
}