.navWrap * {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.navWrap {
    background-color: #990000;
    width: 100%;
    height: 44px;
    border: 0px;
    margin: auto;
    padding: 0px;
}


.navWrap ul a {
    text-align: center;
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: block;
}

    .navWrap ul a:hover, .navWrap ul a:focus {
        cursor: pointer;
        text-decoration: none;
    }

    .navWrap ul a:visited {
        text-decoration: none;
    }


.navWrap ul {
    list-style-type: none;
    z-index: 5;
}

    .navWrap ul li {
        float: left;
        height: 44px;
        border-left: 1px solid #800;
    }

    .navWrap ul li:last-child {
        border-right: 1px solid #800;
    }
    
        .navWrap ul li a {
            font-family: 'Trade Gothic Next W01', Arial, sans-serif;
            font-weight: normal;
            font-size: 14px;
            background-color: #990000;
            border: 1px solid #990000;
            display:block;
            padding: 10px 15px 12px 12px;
            min-width: 80px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            height: 100%;
            position: relative;
            z-index: 5;
        }
        
        .navWrap ul li:first-child a {
            min-width: 80px;
        }
        
        .navWrap ul li:last-child a {
            min-width: 80px;
        }

            .navWrap ul li a:hover, .navWrap ul a:focus {
                background-color: #202020;
                border: 1px solid #202020;
            }

            .navWrap ul li ul {
                list-style-type: none;
                z-index: 5;
                position: absolute;
                opacity:0.975;

                display: block;
                max-height: 0;
                overflow: hidden;
                -webkit-transition: all 0;
                -moz-transition: all 0;
                transition: all 0;

            }

            .navWrap ul li:hover ul, .navWrap ul li:focus ul {
                display: block;
                visibility: visible;
                max-height: 800px;
                -webkit-transition: all 0.8s;
                -moz-transition: all 0.8s;
                transition: all 0.8s;
            }

            .navWrap ul li ul li {
                float: none;
                z-index: 10;
                border: 0 none;
                background: #333;
                width: 100%;
                font-size: 1em;
                box-sizing: border-box;
                border-bottom: 1px solid #282828;
                border-left: 1px solid #282828;
                border-right: 1px solid #282828 !important;
            }
            
            .navWrap ul li ul a {
                display: block;
                margin: 0px;
                border: 0px;
                background-color: #3d3d3d;
                width: auto;
                padding: 12px 15px;
                font-size: 13px;
                text-transform: capitalize;
                text-align: left;
            }

            .navWrap ul li ul a:hover, .navWrap ul li ul a:focus {
                background-color: #111 !important;
                width: auto;
            
                border: 0 none;
}
