///SOLID COLORS

//Official Colors

.bg-black, .background-black {
    background-color: $black !important;
}

.bg-red, .background-red {
    background-color: $red !important;
}

.bg-dark-red, .background-dark-red {
    background-color: $dark-red !important;
}

.bg-white, .background-white {
    background-color: $white !important;
}

.bg-gray, .background-gray {
    background-color: $gray !important;
}

.bg-dark-gray, .background-dark-gray
{
    background-color: $dark-gray !important;
}


.bg-light-gray, .background-light-gray {
    background-color: $light-gray !important;
}

//Secondary Colors
.bg-alizarin, .background-alizarin {
    background-color: $alizarin !important;
}

.bg-amethyst, .background-amethyst {
    background-color: $amethyst !important;
}

.bg-asphalt, .background-asphalt {
    background-color: $asphalt !important;
}

.bg-pom, .background-pom {
    background-color: $pom !important;
}

.bg-sun, .background-sun {
    background-color: $sun !important;
}


.bg-river, .background-river {
    background-color: $river !important;
}

.bg-turquoise, .background-turquoise {
    background-color: $turquoise !important;
}

//CORPORATE COLORS
.bg-facebook, .background-facebook {
    background-color: $facebook !important;
}

.bg-yammer, .background-yammer {
    background-color: $yammer !important;
}

.bg-twitter, .background-twitter {
    background-color: $twitter !important;
}


///TEXTURES

.bg-texture-60-lines {
    background-image: url("../assets/images/backgrounds/textures/60-lines.png");
    background-repeat: repeat;
}


.bg-texture-asfalt-light {
    background-image: url("../assets/images/backgrounds/textures/asfalt-light.png");
    background-repeat: repeat;
}

.bg-texture-az-subtle {
    background-image: url("../assets/images/backgrounds/textures/az-subtle.png");
    background-repeat: repeat;
}

.bg-texture-binding-dark {
    background-image: url("../assets/images/backgrounds/textures/binding-dark.png");
    background-repeat: repeat;
}

.bg-texture-black-dots-pattern, .bg-texture-halftone {
    background-image: url("../assets/images/backgrounds/textures/black-dots-pattern.png");
    background-repeat: repeat;
}

.bg-texture-black-felt {
    background-image: url("../assets/images/backgrounds/textures/black-felt.png");
    background-repeat: repeat;
}

.bg-texture-black-paper {
    background-image: url("../assets/images/backgrounds/textures/black-paper.png");
    background-repeat: repeat;
}

.bg-texture-blu-stripes {
    background-image: url("../assets/images/backgrounds/textures/blu-stripes.png");
    background-repeat: repeat;
}

.bg-texture-bright-squares {
    background-image: url("../assets/images/backgrounds/textures/bright-squares.png");
    background-repeat: repeat;
}

.bg-texture-brushed-alum {
    background-image: url("../assets/images/backgrounds/textures/brushed-alum.png");
    background-repeat: repeat;
}

.bg-texture-brushed-alum-dark {
    background-image: url("../assets/images/backgrounds/textures/brushed-alum-dark.png");
    background-repeat: repeat;
}


.bg-texture-dark-mosaic {
    background-image: url("../assets/images/backgrounds/textures/dark-mosaic.png");
    background-repeat: repeat;
}

.bg-texture-diagmonds {
    background-image: url("../assets/images/backgrounds/textures/diagmonds.png");
    background-repeat: repeat;
}

.bg-texture-diagmonds-light {
    background-image: url("../assets/images/backgrounds/textures/diagmonds-light.png");
    background-repeat: repeat;
}



.bg-texture-egg-shell {
    background-image: url("../assets/images/backgrounds/textures/egg-shell.png");
    background-repeat: repeat;
}

.bg-texture-hexellence {
    background-image: url("../assets/images/backgrounds/textures/hexellence.png");
    background-repeat: repeat;
}

.bg-texture-thin-diagonal-stripe-pattern
{
 background-image: url("../assets/images/backgrounds/textures/thin-diagonal-stripe-pattern.png");
    background-repeat: repeat;   
}


//PATTERNS

.bg-pattern-lodyas-light {
    background-image: url("../assets/images/backgrounds/patterns/lodyas-light.jpg");
    background-repeat: repeat;
}

.bg-pattern-lodyas {
    background-image: url("../assets/images/backgrounds/patterns/lodyas.png");
    background-repeat: repeat;
}

.bg-pattern-pentagon {
    background-image: url("../assets/images/backgrounds/patterns/pentagon.png");
    background-repeat: repeat;
}

.bg-pattern-starring {
    background-image: url("../assets/images/backgrounds/patterns/starring.jpg");
    background-repeat: repeat;
}


///OVERLAYS

.overlay-gray, .overlay-white, .overlay-black, .overlay-river, .overlay-turquoise, .overlay-red
{
    position: relative;
}

.overlay-black:before {
    position: absolute;
    display: block;
    content: " ";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.overlay-gray:before {
    position: absolute;
    display: block;
    content: " ";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    background-color: rgba(51, 51, 51, 0.5);
}


.overlay-red:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(153,0,0,0.5);
}

.overlay-river:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(52,152,219,0.5);
}

.overlay-turquoise:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(26,188,156,0.5);
}

.overlay-white:before {
    position: absolute;
    display: block;
    content: " ";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.7);
}






