
//COLORS
@each $i in $darkColorsList {

    $colorName: nth($i, 1);
    $colorVar: nth($i, 2);

    .bg-#{$colorName}, .background-#{$colorName} { 
        @extend .section-light-theme; 
        background-color: $colorVar !important;
    }
}


@each $i in $lightColorsList {

    $colorName: nth($i, 1);
    $colorVar: nth($i, 2);

    .bg-#{$colorName}, .background-#{$colorName} { 
        @extend .section-dark-theme; 
        background-color: $colorVar !important;
    }
}





///TEXTURES

.bg-texture-60-lines {
    background-image: url("../assets/images/backgrounds/textures/60-lines.png");
    background-repeat: repeat;
}

.bg-texture-asfalt-light {
    background-image: url("../assets/images/backgrounds/textures/asfalt-light.png");
    background-repeat: repeat;
}

.bg-texture-az-subtle {
    background-image: url("../assets/images/backgrounds/textures/az-subtle.png");
    background-repeat: repeat;
}

.bg-texture-binding-dark {
    background-image: url("../assets/images/backgrounds/textures/binding-dark.png");
    background-repeat: repeat;
}

.bg-texture-black-dots-pattern, .bg-texture-halftone {
    background-image: url("../assets/images/backgrounds/textures/black-dots-pattern.png");
    background-repeat: repeat;
}

.bg-texture-black-felt {
    background-image: url("../assets/images/backgrounds/textures/black-felt.png");
    background-repeat: repeat;
}

.bg-texture-black-paper {
    background-image: url("../assets/images/backgrounds/textures/black-paper.png");
    background-repeat: repeat;
}

.bg-texture-blu-stripes {
    background-image: url("../assets/images/backgrounds/textures/blu-stripes.png");
    background-repeat: repeat;
}

.bg-texture-bright-squares {
    background-image: url("../assets/images/backgrounds/textures/bright-squares.png");
    background-repeat: repeat;
}

.bg-texture-brushed-alum {
    background-image: url("../assets/images/backgrounds/textures/brushed-alum.png");
    background-repeat: repeat;
}

.bg-texture-brushed-alum-dark {
    background-image: url("../assets/images/backgrounds/textures/brushed-alum-dark.png");
    background-repeat: repeat;
}

.bg-texture-dark-mosaic {
    background-image: url("../assets/images/backgrounds/textures/dark-mosaic.png");
    background-repeat: repeat;
}

.bg-texture-diagmonds {
    background-image: url("../assets/images/backgrounds/textures/diagmonds.png");
    background-repeat: repeat;
}

.bg-texture-diagmonds-light {
    background-image: url("../assets/images/backgrounds/textures/diagmonds-light.png");
    background-repeat: repeat;
}

.bg-texture-egg-shell {
    background-image: url("../assets/images/backgrounds/textures/egg-shell.png");
    background-repeat: repeat;
}

.bg-texture-hexellence {
    background-image: url("../assets/images/backgrounds/textures/hexellence.png");
    background-repeat: repeat;
}

.bg-texture-thin-diagonal-stripe-pattern {
    background-image: url("../assets/images/backgrounds/textures/thin-diagonal-stripe-pattern.png");
    background-repeat: repeat;
}

//PATTERNS

.bg-pattern-lodyas-light {
    background-image: url("../assets/images/backgrounds/patterns/lodyas-light.jpg");
    background-repeat: repeat;
}

.bg-pattern-lodyas {
    background-image: url("../assets/images/backgrounds/patterns/lodyas.png");
    background-repeat: repeat;
}

.bg-pattern-pentagon {
    background-image: url("../assets/images/backgrounds/patterns/pentagon.png");
    background-repeat: repeat;
}

.bg-pattern-starring {
    background-image: url("../assets/images/backgrounds/patterns/starring.jpg");
    background-repeat: repeat;
}

///OVERLAYS

.overlay-gray, .overlay-white, .overlay-black, .overlay-river, .overlay-turquoise, .overlay-red {
    position: relative;
}

.overlay-black:before {
    @extend .section-light-theme;
    position: absolute;
    display: block;
    content: " ";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.overlay-dark-gray:before {
    @extend .section-light-theme;
    position: absolute;
    display: block;
    content: " ";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    background-color: rgba(20, 20, 20, 0.6);
}

.overlay-gray:before {
    @extend .section-light-theme;
    position: absolute;
    display: block;
    content: " ";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    background-color: rgba(51, 51, 51, 0.5);
}

.overlay-red:before {
    @extend .section-light-theme;
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    background-color: rgba(153, 0, 0, 0.5);
}

.overlay-river:before {
    @extend .section-light-theme;
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    background-color: rgba(52, 152, 219, 0.5);
}

.overlay-turquoise:before {
    @extend .section-light-theme;
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    background-color: rgba(26, 188, 156, 0.5);
}

.overlay-white:before {
    @extend .section-light-theme;
    position: absolute;
    display: block;
    content: " ";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.7);
}
