.green {
    color: $green !important;
}

.red {
    color: $red !important;
}

.dark-red {
    color: $dark-red !important;
}

.light-red {
    color: $light-red !important;
}

.black {
    color: $black !important;
}

.blue {
    color: $blue !important;
}

.dark-gray {
    color: $dark-gray !important;
}

.light-gray {
    color: $light-gray !important;
}

.gray {
    color: $gray !important;
}

.white {
    color: #fff !important;
}

.lime-green {
    color: $lime-green !important;
}

.steel-blue {
    color: $steel-blue !important;
}

.aqua {
    color: $aqua !important;
}

.turquoise {
    color: $turquoise !important;
}

.alizarin {
    color: $alizarin !important;
}

.amethyst { 
    color: $amethyst !important;
}

.sun {
    color: $sun !important;
}

.river {
    color: $river !important;
}

.asphalt {
    color: $asphalt !important;
}

.muted-aqua {
    color: $muted-aqua !important;
}

.green-before-children *:before {
    color: $green !important;
}

.red-before-children *:before {
    color: $red !important;
}

.dark-red-before-children *:before {
    color: $dark-red !important;
}

.light-red-before-children *:before {
    color: $light-red !important;
}

.black-before-children *:before {
    color: $black !important;
}

.blue-before-children *:before {
    color: $blue !important;
}

.dark-gray-before-children *:before {
    color: $dark-gray !important;
}

.light-gray-before-children *:before {
    color: $light-gray !important;
}

.gray-before-children *:before {
    color: $gray !important;
}

.white-before-children *:before {
    color: #fff !important;
}

.lime-green-before-children *:before {
    color: $lime-green !important;
}

.steel-blue-before-children *:before {
    color: $steel-blue !important;
}

.aqua-before-children *:before {
    color: $aqua !important;
}

.muted-aqua-before-children *:before {
    color: $muted-aqua !important;
}

.green-before:before {
    color: $green !important;
}

.red-before:before {
    color: $red !important;
}

.dark-red-before:before {
    color: $dark-red !important;
}

.light-red-before:before {
    color: $light-red !important;
}

.black-before:before {
    color: $black !important;
}

.blue-before:before {
    color: $blue !important;
}

.dark-gray-before:before {
    color: $dark-gray !important;
}

.light-gray-before:before {
    color: $light-gray !important;
}

.gray-before:before {
    color: $gray !important;
}

.white-before:before {
    color: #fff !important;
}

.lime-green-before:before {
    color: $lime-green !important;
}

.steel-blue-before:before {
    color: $steel-blue !important;
}

.aqua-before:before {
    color: $aqua !important;
}

.muted-aqua-before:before {
    color: $muted-aqua !important;
}