
.red {
    color: $red !important;
}

.dark-red {
    color: $dark-red !important;
}

.black {
    color: $black !important;
}


.dark-gray {
    color: $dark-gray !important;
}

.light-gray {
    color: $light-gray !important;
}

.gray {
    color: $gray !important;
}

.white {
    color: #fff !important;
}


.turquoise {
    color: $turquoise !important;
}

.alizarin {
    color: $alizarin !important;
}

.amethyst { 
    color: $amethyst !important;
}

.sun {
    color: $sun !important;
}

.pom {
 
    color: $pom !important;
}

.river {
    color: $river !important;
}

.asphalt {
    color: $asphalt !important;
}



.red-before-children *:before {
    color: $red !important;
}

.dark-red-before-children *:before {
    color: $dark-red !important;
}

.black-before-children *:before {
    color: $black !important;
}

.dark-gray-before-children *:before {
    color: $dark-gray !important;
}

.light-gray-before-children *:before {
    color: $light-gray !important;
}

.gray-before-children *:before {
    color: $gray !important;
}

.white-before-children *:before {
    color: #fff !important;
}


.red-before:before {
    color: $red !important;
}

.dark-red-before:before {
    color: $dark-red !important;
}


.black-before:before {
    color: $black !important;
}


.dark-gray-before:before {
    color: $dark-gray !important;
}

.light-gray-before:before {
    color: $light-gray !important;
}

.gray-before:before {
    color: $gray !important;
}

.white-before:before {
    color: #fff !important;
}


