////////////////////////
// Extendables Partials
//
// All of your extendable classes, ids, and placeholder extendables
//   should go in this file.
////////////////////////

.clearfix {
    *zoom: 1;

    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }
}

.sbuicon {
    font-family: 'sbu-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Enable Ligatures ================ */
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hide-accessible-mobile {
    position: absolute;
    top: -99999px;
    left: -99999px;
    //TODO: Why do we set width and height on this?
    //width: 2000px;
    //height: 2000px;

    @include breakpoint($screen-md) {
        position: relative;
        top: 0;
        left: 0;
    }
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.col-centered {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}