////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////
$red: #990000;
$stony-brook-red: $red;
$dark-red: darken($red, 10%);
$light-red: #ff9999;
$pom: #c0392b;

$alizarin: #E74C3C;
$sun: #F39C12;

$gray: #cccccc;
$dark-gray: #333333;
$light-gray: #eeeeee;
$asphalt: #34495E;

$lime-green: #bac045;
$emerald: #2ecc71;
$steel-blue: #6ec0f3;
$aqua: #47c2c8;
$muted-aqua: #9dbbb5;

$blue: #0063a3;
$dark-blue: darken($blue, 10%);
$light-blue: lighten($blue, 10%);
$turquoise: #1ABC9C;
$river: #3498DB;

$amethyst: #9B59B6;

$black: black;
$green: #009900;

$facebook: #4c66a4;
$twitter: #55acee;
$yammer: #0072c6;

$normal-spacing: 10px;
$large-spacing: 20px;
$small-spacing: 5px;

$break: 420px;
$break2: 800px;
$break3: 960px;
$break4: 1200px;

$break-phone: 420px;
$break-tablet: 800px;
$break-narrow-desktop: 960px;
$break-desktop: 1200px;
$break-wide-desktop: 1600px;


$theme-selectors: "h1, h2, h3, h4, h5, h6, p, a, a:visited, a:active, div, span";


/*
$grids: add-grid(1);
$grids: add-grid(4 at $break);
$grids: add-grid(16 at $break2);
$grids: add-grid(16 at $break3);
$grids: add-grid(16 at $break4);
*/

//$gutters: add-gutter(.4);