////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////

$font: 'Trade Gothic Next W01', Arial, sans-serif;
$font-family-base: 'Trade Gothic Next W01', Arial, sans-serif;
$font-school-spirit: 'TradeGothicW01-BoldCn20 675334', Oswald, sans-serif;
$font-secondary: "Cosmic Sans", Times, "Times New Roman", serif;

//Official Colors

$black: black;
$white: white;

$red: #990000;
$stony-brook-red: $red;
$dark-red: #890000;
$alt-red: #aa0000;
$light-red: #ff9999;

$gray: #cccccc;
$dark-gray: #333333;
$light-gray: #eeeeee;
$x-light-gray: #f6f6f6;

//Supplemental Colors
$alizarin: #e74c3c;
$amethyst: #9b59b6;
$asphalt: #34495e;
$emerald: #2ecc71;
$pom: #c0392b;
$river: #3498db;
$sun: #f39c12;
$turquoise: #1abc9c;

//Corproate Colors
$facebook: #3b5998;
$twitter: #55acee;
$youtube: #cd201f;
$google-plus: #dd4b39;
$yammer: #0072c6;
$tumblr: #35465c;
$instagram: #3f729b;
$flickr: #ff0084;

$paddingList: ("fluffy" 6em) ("cushy" 5em) ("airy" 4.5em) ("spacey" 4em) ("comfy" 3em) ("homey" 2.5em) ("cozy" 2em) ("narrow" 1.5em) ("snug" 1em) ("compact" 1.5em) ("tight" 0em);

$darkColorsList: ("black" $black) ("red" $red) ("dark-red" $dark-red) ("dark-gray" $dark-gray) ("asphalt" $asphalt) ("alizarin" $alizarin) ("amethyst" $amethyst) ("emerald" $emerald) ("pom" $pom) ("river" $river) ("turquoise" $turquoise) ("facebook" $facebook) ("twitter" $twitter) ("youtube" $youtube) ("google-plus" $google-plus) ("yammer" $yammer) ("tumblr" $tumblr) ("instagram" $instagram) ("flickr" $flickr);

//$darkColorsList: black red dark-red dark-gray asphalt alizarin amethyst emerald pom river turquoise facebook twitter youtube google-plus yammer tumblr instagram flickr x-light-gray;
//$darkColorsList-vars: $black $red $dark-red $dark-gray $asphalt $alizarin $amethyst $emerald $pom $river $turquoise $facebook $twitter $youtube $google-plus $yammer $tumblr $instagram $flickr $x-light-gray;

$lightColorsList: ("white" $white) ("light-red" $light-red) ("gray" $gray) ("light-gray" $light-gray) ("sun" $sun) ("x-light-gray" $x-light-gray);

$normal-spacing: 10px;
$large-spacing: 20px;
$small-spacing: 5px;

$break: 420px;
$break2: 800px;
$break3: 960px;
$break4: 1200px;

$break-phone: 420px;
$break-tablet: 800px;
$break-narrow-desktop: 960px;
$break-desktop: 1200px;
$break-wide-desktop: 1600px;

$theme-selectors: "h1, h2, h3, h4, h5, h6, p, a, a:visited, a:active, div, span";

/*
$grids: add-grid(1);
$grids: add-grid(4 at $break);
$grids: add-grid(16 at $break2);
$grids: add-grid(16 at $break3);
$grids: add-grid(16 at $break4);
*/

//$gutters: add-gutter(.4);