/*rounded buttons icon*/


.sbuicon-globe:before {
content: "\f0ac";
font-size: 2.2em;
  top: 14px;
  left: 17px;
}

.sbuicon-th-list:before {
content: "\f00b";
font-size: 2.2em;
  top: 14px;
  left: 17px;
}

.sbuicon-users:before {

}

.sbuicon-location:before {

}

.sbuicon-bank:before {

}

.sbuicon-tablet:before {
  font-size: 2.2em;
  top: 14px;
  left: 17px;
}

