.read-more,
.blog-link,
.default-button,
.sbu-button {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 18px 10px;
    font-family: $font-family-base;
    font-weight: normal;
    font-size: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
    @extend .button-trans;
   /* box-shadow: 0 0 10px #fff;*/
    background: #900;
    border: 1px solid #800;
    color: #fff !important;
    margin: 0 10px 5px 0;
    position: relative;

    &:hover,
    &:focus {
        background: $alt-red;
        text-decoration: none !important;
    }
    &:active {
        background: #900;
    }
}