/*EXPLORE BUTTON*/

.img-button {
  span {
    position: absolute;
    top: 41%;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 1.2em;
    width: 200px;
    margin: 0 auto;
    padding: 6px;
    background: url("../../img/bkg/transparent-black-40.png") repeat scroll 0 0;
    background: rgba(0,0,0,.4);
    text-align: center;
  }
  :hover{
    background: rgba(0,0,0,.8);
  }
}
