.button-block
{
	display: block;
	text-align: center;
}

.button-small
{
	padding: 0.8em;
	font-size: 0.8em;
}

.button-medium
{
	padding: 1em;
	font-size: 1em;
}

.button-large
{

	padding: 1.2em;
	font-size: 1.2em;

}