/*ROUNDED IMAGE BUTTONS*/
/*.rounded-image-buttons {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 0;
  
}*/
.rounded-image-buttons a {
  display: table;
  float: left;
  width: 21%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 2px 5px #444;
  color: #fff !important;
  font-family: 'Trade Gothic W01 Bold 2';
  border: 1px solid #fff;
  font-size: 1.5em;
  height: 150px;
  margin: 22px;
  img {
    width: 239px;
    height: 150px;
    border-radius: 15px;
  }
  p {
    position: absolute;
    top: 60px;
    width: 100%;

  }
  .image-label {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;
        position: relative;
  } 
  @include breakpoint($screen-md) {
        width: 21%;
        height: 150px;
        margin: 22px;
        font-size: 1.5em;
  } 
}
.image-label:hover{
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.75);
}

