.rounded-outline-button {

   display: inline-block;

    padding: 10px 10px 14px 16px;
    background: #fff;
    display: inline-block;
    font-family: 'Trade Gothic Next W01';
    font-size: 1.4em;
    border: 1px solid #900;
    border-radius: 15px;
    box-shadow: 7px 7px 10px #ddd;
    text-align: left;
    margin: 0 1em 1em 0;
    
    &:hover {
        background: #fcfcfc;
    }

    .icon {
        display: inline-block;
        vertical-align: middle;
         
    }
    
    
}

.rounded-outline-button-block {
    @extend .rounded-outline-button;
    display: block;
    margin: 0 0 1em 0;
   text-align: center;
    
}