 .sbu-button,
    a.sbu-button {
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 8px 18px 10px;
        font-family: 'Trade Gothic Next W01', Arial, sans-serif;
        font-weight: normal;
        font-size: inherit;
        text-decoration: none;
        cursor: pointer;
        border-radius: 2px;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
       /* box-shadow: 0 0 10px #fff;*/
        background: #900;
        border: 1px solid #800;
        color: #fff !important;
        margin: 0 10px 5px 0;
        position: relative;
    }
    .sbu-button:hover,
    a.sbu-button:hover {
        background: #a00;
        text-decoration: none !important;
    }
    .sbu-button:active,
    a.sbu-button:active {
        background: #900;
    }