/* -------------------------------------------------------------------
Simple Button
------------------------------------------------------------------- */

.simple-btn {
    font-size: 20px;
    font-weight: 500;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px 20px;
    line-height: 1.7em;
    background: transparent;
    border: 2px solid;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;
    display: block;
}

.simple-btn__text-red {
    text-align: center;
    text-transform: uppercase;
    font-family: "Trade Gotic", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(153, 0, 0, 0.8);
}

.simple-btn__text-red:hover {
    background: rgba(153, 0, 0, 0.2);
    border: 2px solid transparent;
    padding: 10px 34px 10px 10px !important;
}

.simple-btn__text-red:after {
    font-size: 32px;
    line-height: 1em;
    content: "\35";
    opacity: 0;
    position: absolute;
    margin-left: -20px;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    top: 7px;
    right: 5px;
}

.simple-btn__text-dark {
    text-align: center;
    text-transform: uppercase;
    font-family: "Trade Gotic", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(51, 0, 0, 0.8);
}

.simple-btn__text-dark:hover {
    background: rgba(51, 0, 0, 0.2);
    border: 2px solid transparent;
    padding: 10px 34px 10px 10px !important;
}

.simple-btn__text-dark:after {
    font-size: 32px;
    line-height: 1em;
    content: "\35";
    opacity: 0;
    position: absolute;
    margin-left: -20px;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    top: 7px;
    right: 5px;
}

.simple-btn__text-white {
    text-align: center;
    text-transform: uppercase;
    font-family: "Trade Gotic", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}

.simple-btn__text-white:hover {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid transparent;
    padding: 10px 34px 10px 10px !important;
}

.simple-btn__text-white:after {
    font-size: 32px;
    line-height: 1em;
    content: "\35";
    opacity: 0;
    position: absolute;
    margin-left: -20px;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    top: 7px;
    right: 5px;
}