.btn-circle {
    width: 70px;
    height: 70px;
    margin: 10px;
    padding: 9px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 16px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-service {
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}