.btn-circle {
    width: 4.375em; /* 70/16 */
    height: 4.375em; /* 70/16 */
    margin: 0.625em; /* 10/16 */
    padding: 0.5625em 1em; /* 9/16 */
    border: 0.125em solid #fff; /* 2/16 */
    border-radius: 2.1875em; /* 35/16 */
    font-size: 1em;
    color: #fff;
    background-color: #fff;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;

}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.5);
}

.btn-service {
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 400;
    color: #fff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}