/*#main-menu-controller
{
	float: left;
}

#main-menu-navigation
{
	float: left;
}

#search-controller
{
	float: right;
}

#main-menu-wrap
{
	float: left;
}
*/

#main-menu-navigation #main-menu-sidr-button
{
	display: block;
	max-width: 100px;

	@include breakpoint($break2) {
    	display: none;
  }
}

#search-controller
{
	display: block;

	@include breakpoint($break3) {
    	display: none;
  }
}

#main-menu-navigation .main-menu-menu-item
{
	display: none;

	@include breakpoint($break2) {
    	display: inline-block;
  }

}

#search-wrapper
{
	display: none;

  @include breakpoint($break3) {
    	display: block;
  }

}