/* Drop accordion */

.drop-accordion {
    padding: 1em;
    margin: 0 0 1.1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .item {
        margin-bottom: 2em;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .tab,
    .link {
        background: $x-light-gray;
        color: $dark-gray;
        display: block;
        border: 0.0625em solid $gray; /* 1/16 */
        font-size: 1.3em;
        font-family: 'Trade Gothic W01 Light';
        cursor: pointer;
        z-index: 101;
        padding: 1em 1.5em;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .icon {
            display: inline-block;
            font-size: 1.2em;
            margin-right: 1em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            color: $red;
        }
    }
    .org-hd-img {
        padding: .3em;
        border: 0.1em solid $gray;
        margin-right: 1.5em;
        margin-left: .5em;
        height: 12.500em;
        width: 9.375em;
        float: left;
    }
    .active .icon {
        color: $red;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .accordion-content {
        margin: -1.1em 0 0 0;
        background: $x-light-gray;
        border: 0.1em solid $gray;
        z-index: 100;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: none;
    }
    .accordion-content-wrap {
        padding: 3em;
    }
    .accordion-content p,
    .accordion-content li {
        font-size: 1.1em;
        line-height: 1.8em;
    }
}