
/* ------------------------------------------------------------------
Panel Accordion -- it's a little more sqaure
------------------------------------------------------------------- */

.panel-group .panel {
	-webkit-border-radius: 0.125em; /* 2/16 */
	   -moz-border-radius: 0.125em; /* 2/16 */
		 -o-border-radius: 0.125em; /* 2/16 */
			border-radius: 0.125em; /* 2/16 */
}
.panel-title {
	font-size: 0.875em; /* 14/16 */
}

.panel-body li {
	text-align: left;
}

.panel-heading a {
	position: relative;
	display: block;
}

.panel-heading a:after {
	position: absolute;
	content: "\f106";
	top: 50%;
	right: 0em; /* 0/16 */
	font-family: "FontAwesome";
	line-height: 1;
	font-size: 0.875em; /* 14/16 */
	margin-top: -0.4375em; /* 7/16 */
}

.panel-heading a.collapsed:after {
	content: "\f107";
}