
/* ------------------------------------------------------------------
Panel Accordion -- it's a little more sqaure
------------------------------------------------------------------- */

.panel-group .panel {
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
		 -o-border-radius: 2px;
			border-radius: 2px;
}
.panel-title {
	font-size: 14px;
}

.panel-body li {
	text-align: left;
}

.panel-heading a {
	position: relative;
	display: block;
}

.panel-heading a:after {
	position: absolute;
	content: "\f106";
	top: 50%;
	right: 0px;
	font-family: "FontAwesome";
	line-height: 1;
	font-size: 14px;
	margin-top: -7px;
}

.panel-heading a.collapsed:after {
	content: "\f107";
}

