/* Drop accordion */

.drop-accordion {
    margin: 0 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.drop-accordion .item {
    margin: 0 0 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.drop-accordion .tab {
    background: #f2f2f2;
    color: #444;
    display: block;
    border: 1px solid #d9d9d9;
    border-radius: 20px 0 0 20px;
    font-size: 1.05em;
    font-family: 'Trade Gothic W01 Light';
    cursor: pointer;
    z-index: 101;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.drop-accordion .accordion-label {
    display: block;
    margin: 4px 4px 5px 8px;
}

.drop-accordion .accordion-label .sbuicon {
    display: inline-block;
    font-size: 1.1em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #00acc6;
    margin: 0 8px 0 5px;
}

.drop-accordion .active .accordion-label .sbuicon {
    color: #900;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.drop-accordion .accordion-content {
    margin: -18px 0 0 0;
    background: #ededed;
    border: 1px solid #ddd;
    z-index: 100;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: none;
}

.drop-accordion .accordion-content p {}

.drop-accordion .accordion-content-wrap {
    padding: 30px 20px 15px;
}

.drop-accordion .accordion-content p,
.drop-accordion .accordion-content li {
    font-size: .9em;
    line-height: 1.8em;
}