.vertical-timeline {
    list-style: none;
    padding: 1.25em 0 1.25em; /* 20/16 */ /* 20/16 */
    position: relative;
}

.vertical-timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 0.1875em; /* 3/16 */
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.0.3125em; /* 5/16 */
    margin-bottom: 1.25em; /* 20/16 */
}

.vertical-timeline
{
    .vertical-timeline-panel
    {


        #{$theme-selectors}
        {
            color: #000;
        }
    }


}

.vertical-timeline > li {
    margin-bottom: 1.25em; /* 20/16 */
    position: relative;
}

.vertical-timeline > li:before,
.vertical-timeline > li:after {
    content: " ";
    display: table;
}

.vertical-timeline > li:after {
    clear: both;
}

.vertical-timeline > li:before,
.vertical-timeline > li:after {
    content: " ";
    display: table;
}

.vertical-timeline > li:after {
    clear: both;
}

.vertical-timeline > li > .vertical-timeline-panel {
    width: 46%;
    float: left;
    border: .1em solid $gray;
    border-radius: 0.125em; /* 2/16 */
    padding: 1.25em; /* 20/16 */
    position: relative;
}

.vertical-timeline > li > .vertical-timeline-panel:before {
    position: absolute;
    top: 1.625em; /* 26/16 */
    right: -0.9375em; /* 15/16 */
    display: inline-block;
    border-top: 0.9375em solid transparent; /* 15/16 */
    border-left: 0.9375em solid $gray; /* 15/16 */
    border-right: 0 solid $gray;
    border-bottom: 0.9375em solid transparent; /* 15/16 */
    content: " ";
}

.vertical-timeline > li > .vertical-timeline-panel:after {
    position: absolute;
    top: 1.6875em; /* 27/16 */
    right: -0.875em; /* 14/16 */
    display: inline-block;
    border-top: 0.875em solid transparent; /* 14/16 */
    border-left: 0.875em solid $gray; /* 14/16 */
    border-right: 0 solid $gray;
    border-bottom: 0.875em solid transparent; /* 14/16 */
    content: " ";
}

.vertical-timeline > li > .vertical-timeline-badge {
    color: #fff;
    width: 3.125em; /* 50/16 */
    height: 3.125em; /* 50/16 */
    line-height: 3.125em; /* 50/16 */
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 1em;
    left: 50%;
    margin-left: -1.5625em; /* 25/16 */
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.vertical-timeline > li.vertical-timeline-right > .vertical-timeline-panel {
    float: right;
}

.vertical-timeline > li.vertical-timeline-right > .vertical-timeline-panel:before {
    border-left-width: 0;
    border-right-width: 0.9375em; /* 15/16 */
    left: -0.9375em; /* 15/16 */
    right: auto;
}

.vertical-timeline > li.vertical-timeline-right > .vertical-timeline-panel:after {
    border-left-width: 0;
    border-right-width: 0.875em; /* 14/16 */
    left: -0.875em; /* 14/16 */
    right: auto;
}

.vertical-timeline-title {
    margin-top: 0;
    color: inherit;
}

.vertical-timeline-body > p,
.vertical-timeline-body > ul {
    margin-bottom: 0;
}

.vertical-timeline-body > p + p {
    margin-top: 0.3125em; /* 5/16 */
}