/* svg animation */
.box {
    width: 18.75em; /* 300/16 */
    height: 28.75em; /* 460/16 */
    position: relative;
    background: rgba(255,255,255,1);
    display: inline-block;
    margin: 0 0.625em; /* 10/16 */
    cursor: pointer;
    color: #2c3e50;
    box-shadow: inset 0 0 0 0.1875em rgba(0, 0, 0, 0.4); /* 3/16 */
    -webkit-transition: background 0.4s 0.5s;
    transition: background 0.4s 0.5s;
}

.box:hover {
    background: rgba(255,255,255,0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.box img {
    padding-top: 1.5625em; /* 25/16 */
}

.box h3 {
    font-family: Helvetica;
    font-size: 1.875em; /* 30/16 */
    line-height: 3.4375em; /* 55/16 */
    margin: 0;
    font-weight: 400;
    width: 100%;
}

.box span {
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.0625em; /* 1/16 */
    font-size: 0.8125em; /* 13/16 */
    padding: 0.3125em; /* 5/16 */
}

.box h3,
.box span {
    -webkit-transition: color 0.4s 0.5s;
    transition: color 0.4s 0.5s;
}

.box:hover h3,
.box:hover span {
    color: #fff;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.box svg {
    position: absolute;
    top: 0;
    left: 0;
}

.box svg line {
    stroke-width: 8;
    stroke: #ecf0f1;
    fill: none;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.box:hover svg line {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.box svg line.top,
.box svg line.bottom {
    stroke-dasharray: 330 240; 
}

.box svg line.left,
.box svg line.right {
    stroke-dasharray: 490 400;
}

.box:hover svg line.top {
    -webkit-transform: translateX(-37.5em); /* 600/16 */
    transform: translateX(-37.5em); /* 600/16 */
}

.box:hover svg line.bottom {
    -webkit-transform: translateX(37.5em); /* 600/16 */
    transform: translateX(37.5em); /* 600/16 */
}

.box:hover svg line.left {
    -webkit-transform: translateY(57.5em); /* 920/16 */
    transform: translateY(57.5em); /* 920/16 */
}

.box:hover svg line.right {
    -webkit-transform: translateY(-57.5em); /* 920/16 */
    transform: translateY(-57.5em); /* 920/16 */
}

.color-1 .box {
    box-shadow: inset 0 0 0 0.625em #2c3e50; /* 10/16 */
}

.color-1 .box:hover h3,
.color-1 .box:hover span {
    color: #fe6f83;
}

.color-1 .box svg line {
    stroke-width: 8;
}

.color-1 .box:hover svg line {
    stroke: #fe6f83;
}

/* Frame */
.frame-1 .box {
    background: rgba(0,0,0,0);
    color: #fff;
    box-shadow: none;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.frame-1 .box:hover {
    background: rgba(0,0,0,0.4);
}

.frame-1 .box h3,
.frame-1 .box span {
    -webkit-transition: none;
    transition: none;
}

.frame-1 .box svg line {
    -webkit-transition: all .5s;
    transition: all .5s;
}

.frame-1 .box:hover svg line {
    stroke-width: 10;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.frame-1 .box:hover svg line.top {
    -webkit-transform: translateX(-18.75em); /* 300/16 */
    transform: translateX(-18.75em); /* 300/16 */
}

.frame-1 .box:hover svg line.bottom {
    -webkit-transform: translateX(18.75em); /* 300/16 */
    transform: translateX(18.75em); /* 300/16 */
}

.frame-1 .box:hover svg line.left {
    -webkit-transform: translateY(28.75em); /* 460/16 */
    transform: translateY(28.75em); /* 460/16 */
}

.frame-1 .box:hover svg line.right {
    -webkit-transform: translateY(-28.75em); /* 460/16 */
    transform: translateY(-28.75em); /* 460/16 */
}

/* Spin */
.spin-1 .box {
    box-shadow: none;
    background: rgba(0,0,0,0.4);
    -webkit-transition: none;
    transition: none;
    color: #fff;
}

.spin-1 .box h3,
.spin-1 .box span {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.spin-1 .box:hover h3,
.spin-1 .box:hover span {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.spin-1 .box svg line {
    stroke-width: 30;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.spin-1 .box:hover svg line {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.spin-1 .box:hover svg line {
    stroke-width: 0;
}

.spin-1 .box svg line.top,
.spin-1 .box svg line.bottom {
    stroke-dasharray: 300; 
}

.spin-1 .box svg line.left,
.spin-1 .box svg line.right {
    stroke-dasharray: 460;
}

.spin-1 .box:hover svg line.top {
    -webkit-transform: translateX(-18.75em); /* 300/16 */
    transform: translateX(-18.75em); /* 300/16 */
}

.spin-1 .box:hover svg line.bottom {
    -webkit-transform: translateX(18.75em); /* 300/16 */
    transform: translateX(18.75em); /* 300/16 */
}

.spin-1 .box:hover svg line.left {
    -webkit-transform: translateY(28.75em); /* 460/16 */
    transform: translateY(28.75em); /* 460/16 */
}

.spin-1 .box:hover svg line.right {
    -webkit-transform: translateY(-28.75em); /* 460/16 */
    transform: translateY(-28.75em); /* 460/16 */
}