
.simple-blurb {

    padding: 2em 0 2em;

    .simple-blurb-icon {

        @extend .card-icon;
    }

    .simple-blurb-title {

        @extend .card-title;
    }
    .simple-blurb-subtitle {

        @extend .card-subtitle;
        margin-top: -.3em;
    }

    .simple-blurb-item {
        @extend .card-item-font;
    }

    .simple-blurb-cta {

        @extend .card-call-to-action;

    }
}

.classic-blurb {

    position: relative;
    margin-bottom: 3em;

    .classic-blurb-icon {

        @extend .card-icon;

        position: absolute;
        height: 2em;
        width: 2em;
        left: 0;
        top: -.45em;
        text-align: center;
        font-size: 3em;
        display: inline-block;
        line-height: 1;

    }

    .classic-blurb-content {

        padding-left: 6em;

        .classic-blurb-title {

            @extend .card-title 
        }
        .classic-blurb-subtitle {

            @extend .card-subtitle
        }
        .classic-blurb-item {

            @extend .card-item-font;
        }
        .classic-blurb-cta {

            @extend .card-call-to-action;
        }
    }

}




/* -------------------------------------------------------------------
Blurbs
------------------------------------------------------------------- */

.blurb__item {
    margin: 1.25em 0; /* 20/16 */
    text-align: left;
}

.blurb__icon,
.blurb__icon {
    line-height: 1.2;
    font-size: 2.625em; /* 42/16 */
    color: #111;
}

.blurb__title {
    text-transform: uppercase;
    letter-spacing: 0.125em; /* 2/16 */
    font-weight: 400;
    font-size: 0.875em; /* 14/16 */
    color: #111;
    font-size: 0.8125em; /* 13/16 */
    margin: 0 0 0.625em; /* 10/16 */
}

.blurb__item {
    position: relative;
    padding-left: 3.4375em; /* 55/16 */
    margin: 4.0625em 0 0 0; /* 65/16 */
    text-align: left;
}
.blurb__item--small {
    position: relative;
    padding-left: 3.4375em; /* 55/16 */
    margin: 0;
    text-align: left;
}

.blurb__icon {
    position: absolute;
    height: 2.5em; /* 40/16 */
    width: 2.5em; /* 40/16 */
    left: 0;
    top: 0;
    text-align: center;
    line-height: 2.5em; /* 40/16 */
    font-size: 1.75em; /* 28/16 */
    display: inline-block;
    line-height: 1;
}

@media (max-width: 75em) { /* 1200/16 */
    /* blurb */
    .blurb__item {
        margin: 1.25em 0 0; /* 20/16 */
    }
    .blurb__item--small {
        margin: 0;
    }
}