
.simple-blurb {

    padding: 2em;

    .simple-blurb-icon {

        @extend .card-icon;
    }

    .simple-blurb-title {

        @extend .card-title;
    }
    .simple-blurb-subtitle {

        @extend .card-subtitle;
        margin-top: -.3em;
    }

    .simple-blurb-item {
        @extend .card-item-font;
    }

    .simple-blurb-cta {

        @extend .card-call-to-action;

    }
}

.classic-blurb {

    position: relative;
    margin-bottom: 3em;

    .classic-blurb-icon {

        @extend .card-icon;

        position: absolute;
        height: 2em;
        width: 2em;
        left: 0;
        top: -.45em;
        text-align: center;
        font-size: 3em;
        display: inline-block;
        line-height: 1;

    }

    .classic-blurb-content {

        padding-left: 6em;

        .classic-blurb-title {

            @extend .card-title 
        }
        .classic-blurb-subtitle {

            @extend .card-subtitle
        }
        .classic-blurb-item {

            @extend .card-item-font;
        }
        .classic-blurb-cta {

            @extend .card-call-to-action;
        }
    }

}




/* -------------------------------------------------------------------
Blurbs
------------------------------------------------------------------- */

.blurb__item {
    margin: 20px 0;
    text-align: left;
}

.blurb__icon,
.blurb__icon {
    line-height: 1.2;
    font-size: 42px;
    color: #111;
}

.blurb__title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 14px;
    color: #111;
    font-size: 13px;
    margin: 0 0 10px;
}

.blurb__item {
    position: relative;
    padding-left: 55px;
    margin: 65px 0 0 0;
    text-align: left;
}
.blurb__item--small {
    position: relative;
    padding-left: 55px;
    margin: 0;
    text-align: left;
}

.blurb__icon {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 40px;
    font-size: 28px;
    display: inline-block;
    line-height: 1;
}

@media (max-width: 1200px) {
    /* blurb */
    .blurb__item {
        margin: 20px 0 0;
    }
    .blurb__item--small {
        margin: 0;
    }
}