.call-to-action {
	float: center;
	padding: 10px 30px 10px 30px;
	margin: 10px;
	background-color: white;
	font-size: 16px;
	text-align: center;
	border-bottom: 15px solid #990000;
	border-top-left-right: 1px solid #eeeeee;
	-webkit-box-shadow: 0 0 2px #333;
        box-shadow: 0 0 2px #333;


h1 {
	padding-bottom: 5px;
	text-align: center;
	font-size: 24px;
	border-bottom: 1px solid #eee;
}

> p + p {
	padding-top: 5px;
}
}