.contact-card {
    width: 40%;
    border: 1px solid #ccc;
    padding: 1em;

    h2 {
        margin-top: 0px;
    }
    /*
        .panel-2col-stacked {
            .panel-col-first {
                width: 120px;
            }
    
            .panel-col-last {
                width: auto;
            }
        }
       */
}