.horizontal-card-o {

	position: relative;
	padding: .5em 0 1.5em 12.5em;
	margin: 4em 0 4em 0;
	text-align: left;
	display: block;

	h4 {
	color: #990000;
	line-height: 1em;
	
	}

	p {
	font-size: inherit;

	}

	img {
	position: absolute;
    height: 9.375em; /* 150px */
    width: 9.375em; /* 150px */
    border-radius: 50%;
    left: 0;
    top: 0;
    display: block;

	}
	.small-img img {
	position: absolute;
    height: 4.375em; /* 150px */
    width: 4.375em; /* 150px */
    border-radius: 50%;
    left: 0;
    top: 0;
    display: block;

	}
}
