//TODO: Needs refactoring
.polaroid-card {
    display: block;
    border: #B7B5B6 1px solid;
    background: #FFF;
    -webkit-box-shadow: 0px 0px 8px #B7B5B6;
    box-shadow: 0px 0px 8px #B7B5B6;
    text-align: center;
    position: relative;
    padding: 1%;
    height: 100%;
    a {
        display: block;
        height: 100%;
        width: 100%;
        img {
            max-height: 128px;
            width: auto;
            margin: 10px auto;
        }
        span {
            padding: 5px 10.99530449186776%;
            display: block;
        }
    }
    .views-field-field-logo, .views-field-field-image {
        width: 100%;
    }
    li:hover {
        -webkit-box-shadow: 0px 0px 8px #990000;
        box-shadow: 0px 0px 8px #990000;
    }
}