.presenter-card {
    margin-bottom: 3em;

    .presenter-card-image {
        width: 100%;

        img {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .presenter-card-text {
        text-align: center;
        padding: 1em 0 0 0;

        span:before {
            margin-right: 0.7em;
        }

        span:after {
            margin-right: 0.2em;
        }

        span {
            margin-bottom: 0.2em;
        }
    }
}