.faq-block {
   
    background:#fff;
    float: center;
    text-align: left;
    padding: 20px;
    margin: 20px 0;
    	-webkit-box-shadow: 0 0 2px #333;
        box-shadow: 0 0 2px #333;
        border-bottom: 15px solid #1ABC9C;
p {

	font-size: 16px;
	color: #333;
	padding-left: 15px;
	padding-right: 15px;

}


h1 {
	font-size: 16px;
	text-align: center;
	font-size: 24px;
	border-bottom: 1px solid #eee;

}
}