




.hero .hero-content-wrap .hero-content-text{
	padding: 0 1em;
	text-align: center;
	
}

/*
.banner.banner-banner-box
{
	@include breakpoint($break) {
		height: 300px;
	}
	@include breakpoint($break2) {
		height: 550px;
	}
	

}
*/


.banner-minimal
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}



.banner-banner-box .banner-content-wrap
{

font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

@include breakpoint($break) {
		display: block;
		position: absolute;
		top: 3%;
		width: 100%;
		
}





}

.banner-banner-box .banner-image, .banner-minimal .banner-image
{
	@include breakpoint($break) {
		height: 550px;
	}
		
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	

}

.banner-minimal
{
		.banner-content-wrap
		{
			@include breakpoint($break) {
			width: 100%;
			
			display: block;
			position: absolute;
			width: 100%;

			top: 0;
			bottom: 0;
			left: 0;	
			right: 0;
			margin: auto;
			height: 80%;
			
		}

		@include breakpoint($break2) {
			
			min-width: 600px;

		}

	}
	.banner-content-text{
		color: #fff;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;

		h1
		{
			font-size: 4em;
			text-transform: uppercase;
			font-weight: 400;
			text-shadow: 2px 2px 5px #000000;
			margin-top: 0;

		}

		.banner-buttons
		{
			max-width: 800px;
		}


		.outline-button
		{
			margin: 0 1em 1em 0;
		}

		.outline-button-maintenance
		{
			background: rgba(30,115,144,0.8);
			text-transform: none;
		}

		.outline-button-maintenance:hover
		{
			background: rgba(153,0,0,0.8);
		}

		.outline-button-system-status-000,.outline-button-system-status-000:hover
		{
			text-transform: none;
			background: rgba(48,136,43,0.8);
		}

		.outline-button-system-status-310
		{
			text-transform: none;
			background: rgba(26,76,161,0.8);
		}

		.outline-button-system-status-307
		{
			text-transform: none;
			background: rgba(153,0,0,0.6);
		}

		.outline-button-system-status-308
		{
			text-transform: none;
			background: rgba(249,196,30,0.8);
		}

		.outline-button-system-status-309
		{
			text-transform: none;
			background: rgba(153,0,0,0.6);
		}


		.outline-button-system-status-307:hover, .outline-button-system-status-308:hover,.outline-button-system-status-309:hover,.outline-button-system-status-310:hover
		{
				background: rgba(153,0,0,0.8);	
		}
  }
	
}

.banner-content-box
{
	padding: 0 10px;

	@include breakpoint($break) {
		width: 90%;
		margin: 0 auto;
		padding: 0;
	}
	@include breakpoint($break2) {
	max-width: 1200px;
	margin: 0 auto;
	}
}

.banner.banner-banner-box.system-status-308 .banner-content-wrap .banner-content-text.system-status-307
{
	@include breakpoint($break) {
	background: rgba(0,0,153,0.5);
	}
}

.banner.banner-banner-box.system-status-308 .banner-content-wrap .banner-content-text
{
	@include breakpoint($break) {
	background: rgba(0,0,153,0.5);
	}
}

.banner.banner-banner-box.system-status-000 .banner-content-wrap .banner-content-text
{
	@include breakpoint($break) {
	background: rgba(0,153,0,0.5);
	}
}

.banner.banner-banner-box .banner-content-wrap .banner-content-text
{
	color: #000;
	padding: 1em 10px;

	@include breakpoint($break) {
		width: 100%;
		background: rgba(113,113,113,0.5);
		color: #fff;
		padding: 1em 2em;
	}

	@include breakpoint($break2) {
		width: 50%;
		min-width: 600px;

	}
	

	
	margin: 0;
	
	
	border-radius: 25px;

	.banner-system-status a, .banner-system-status a:hover
	{
		color: #990000;

		@include breakpoint($break) {
			color: #fff;
		}

	}



	
/*
	.banner-buttons.three-buttons .glassy-button
	{
		width: 100%;
		margin-right: 0;
		max-width: 400px;

		@include breakpoint($break2) {
		margin-right: 1%;
		width: 49%;
		}
	}

	.banner-buttons.two-buttons .glassy-button
	{
		width: 100%;
		margin-right: 0;
		max-width: 400px;
		
		@include breakpoint($break2) {

		margin-right: 1%;
		width: 49%;
		}
	}*/

	.banner-buttons .glassy-button
	{
		width: 100%;
		margin-right: 0;
		max-width: 400px;

		@include breakpoint($break2) {
		width:80%;
		}
	}

	.banner-buttons .glassy-button.last
	{
		margin-right: 0%;
	}

	.banner-system-status
	{
		clear:both;
	}
}


.banner.banner-service-page .banner-image
{
	

	@include breakpoint($break) {
		height: 300px;
	}
	@include breakpoint($break2) {
	height: 550px;
	}
		 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
}

 .banner.banner-bottom-fade .banner-content-wrap, .hero .hero-content-wrap
{
	margin: 0;
padding: 1em 2em;
background: rgba(255,255,255,0.4);
	color: #fff;
display: block;
position: absolute;
bottom: 0;
right: 0;
width: 100%;
font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


}

.banner .banner-content-wrap .banner-content-text, .hero .hero-content-wrap .hero-content-text
{

	width: 100%;
max-width: 1200px;
padding: 0 1em;
text-align: left;

	@include breakpoint($break) {
		margin: 0 auto;
		padding: 0px;
		text-align: left;
	}

}

.banner .banner-image img
{
	width: 100%;
	max-width: 100%;
}

.banner, .hero
{
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);

box-sizing: border-box;

display: block;

font-size: 18px;
	color: #303030;

overflow-x: hidden;
overflow-y: hidden;
padding-bottom: 0px;

padding-top: 0px;
position: relative;
transform: matrix(1, 0, 0, 1, 0, 0);
width: 100%;

margin-bottom: 2em;
}



.view-hero-news .field-name-field-hero-image
{
	img
	{
		width: 100%;
		max-height: 700px;
	}
}