body.panel-layout-ciuffo.not-front.unity-no-sidebars
{



.panel-pane
{
	margin-bottom: 20px;
}

#main-wrap-restricted
{
	max-width: 100%;
	width: 100%;
	margin: 0;
}

#main-wrap-content
{
	padding: 0px;
}

		

	#content-primary
	{
	   @include grid-span(1, 1, $options: 'both');
	  
	   @include breakpoint($break) {
		@include grid-span(4, 1, $options: 'both');
	  }

	   /* @include breakpoint($break2) {
		@include grid-span(9, 1, $options: 'both');
	  }  */
	  

	  @include breakpoint($break2) {
		@include grid-span(16, 1, $options: 'both');
	  }
	  
	}

	#section-a
	{

	 @include grid-span(1, 1, $options: 'both');
	 
	  @include breakpoint($break) {
		@include grid-span(4, 1, $options: 'both');
	  }
	  
	 /*  @include breakpoint($break2) {
		@include grid-span(3, 1);
	  }*/

	  
	   @include breakpoint($break2) {
		@include grid-span(16, 1, $options: 'both');
		
	  
		.entity-paragraphs-item .content
		{
			max-width: 1200px;
			margin: 0 auto;
		}

	  }
	}
}

body.panel-layout-ciuffo.not-front.unity-no-sidebars.node-type-service-page #main-wrap-restricted
{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}



.panel-layout-ciuffo
{

	h1.title
	{
		display: none;
	}

	
			div.section:nth-child(even)
			{

				background-image: url('../assets/images/textures/bright-squares.png');
	background-repeat: repeat;
	background-color: $light-gray;
	
				
			}
	
	#main-content .panel-pane
	{
		margin: 0px;
	}


.pane-sharethis-sharethis-block
{
	text-align: center;
}


.section-wrapper
{
	width: 100%;
	padding: 1.1em 0;
}

.section-content.centered
{
	text-align: center;
}

.section-content
{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;

	h2
	{
		text-align: center;
		font-size: 1.6em;
	}


	.inline-list
	{
		list-style-type: none;
		margin: 0;
		padding: 0;
		vertical-align: top;

		>li
		{
			display: inline-block;
			vertical-align: top;
		}
	}


	ul.four-items
	{
		@extend .inline-list;

		>li
		{
			width: 24%;
			margin: 0 0.5%;

			
		}
	}

	ul.three-items
	{
		
		@extend .inline-list;
		
		>li
		{
			width: 380px;
			
			margin: 0 15px;
			
			padding: 10px;
			
		}

		>li:nth-child(3n+1)
		{
			margin-left: 0px;
		}
		>li:nth-child(3n+3)
		{
			margin-right:0px;
		}

	}

	ul.two-items
	{

		list-style-type: none;
		margin: 0;
		padding: 0;

		>li
		{
			width: 49%;
			margin: 0 0.5%;
		
	

		}
	}

	ul.one-item
	{

		list-style-type: none;
		margin: 0;
		padding: 0;

		>li
		{
			width: 75%;
		
			

		}
	}
}
}

.node-type-event .banner-events-page 
{
	h1
	{
		font-size: 3em;
	}

	.event-time
	{
		font-size: 2em;
		text-shadow: 2px 2px 5px #000;
	}

	.event-room
	{
		font-size: 2em;
		text-shadow: 2px 2px 5px #000;
	}

	.banner-buttons
	{
		margin-top: 1.5em;
	}

}




