.full-width.panel-layout-snape
{


	#header
	{
		max-width: 1080px;
		float: none;
		
		margin: 0 auto;
		padding: 0 60px;
	}

	#main-menu-wrap
	{
		
		#main-menu
		{
			max-width: 1080px;
		margin: 0 auto;
		float:none;
	
		}
	


		#main-menu-navigation
		{

			@include breakpoint($break2) 
			{
	    		margin: 0 auto;
	    		width: 1080px;
	    		padding: 0px 60px;

	  		}
			
		}

	}

	.section-wrapper
	{
		width: 100%;
		
	}

	.section
	{

		width: 1080px;
		padding: 30px 60px;
		margin: 0 auto;
		max-width: 1080px;
		
	}

	.section:after, .section-wrapper:after
	{
		content: " ";
   		display: block; 
   		height: 0; 
   		clear: both;
	}

	#footer-wrapper
	{
		background-color: #000;
		width: 100%;
		float:left;
	}

	#footer
	{
		max-width: 1080px;
		margin: 0 auto;
		float: none;
	}
}