////////////////////////
// Layouts Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All box model properties go here
////////////////////////



html body
{
  margin-top: 0px;


  @include breakpoint($break2)
  {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #admin-menu
  {
    display: none;

    @include breakpoint($break2)
    {
      display: block;
    }

  }


}

html body.admin-menu
{
    margin-top: 0px !important;


  @include breakpoint($break2)
  {
    margin-top: 39px !important;
    
  }

}


#main
{
  padding: 0px 10px;
}

#main-wrap-full
{
  width: 100%;
  background-color: #fff;
}



#main-wrap-restricted
{
  max-width: 1200px;
  margin: 0 auto;
}

#main-prefix
{
padding: 10px 5px 5px 5px;
border-right: 1px solid #ccc;
}



.front .flex-caption
{ 
display: none;
}




#main-prefix
{
  padding-top: 25px !important;
}


.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}


#main-content-header
{
  max-width: 1200px;
  margin: 1.25em auto 0px;
}



@import 'page';

@import 'header/header';
@import 'header/mainnav';
@import 'header/secondarynav';
@import 'header/search';

@import 'footer';

//@import 'banner';

//@import 'full-width';
//@import 'fixed-width';
//@import 'front';
//@import 'notfront';

//@import 'potter';
//@import 'dumbledore';
//@import 'ciuffo';
//@import 'responsive-2col';
//@import 'service';
//@import 'mainnav';
//@import 'snape';
//@import 'onecol';



