.panel-layout-potter
{

	.unity-region
	{
		margin-bottom: 1em;
	}

	#main-content-header
	{
		margin: 1em auto 0;
	}


	#main-wrap-content
	{
		padding: 0 1em;

		 @include breakpoint($break4) {
			padding: 0;
	  }

	  .panel-pane
	  {
	  	margin: 0;
	  }

	}
	#banner
	{
		margin-bottom: 0px;
		
	  @include grid-span(1, 1, $options: 'both');
	  
	   @include breakpoint($break) {
		@include grid-span(4, 1, $options: 'both');
	  }

	   /* @include breakpoint($break2) {
		@include grid-span(9, 1, $options: 'both');
	  }  */
	  

	  @include breakpoint($break2) {
		@include grid-span(16, 1, $options: 'both');
	  }

	}
	

	#content-primary
	{
		padding: 0;

	   @include grid-span(1, 1, $options: 'both');
	  
	   @include breakpoint($break) {
		@include grid-span(4, 1, $options: 'both');
		
	  }

	   /* @include breakpoint($break2) {
		@include grid-span(9, 1, $options: 'both');
	  }  */
	  

	  @include breakpoint($break2) {
		@include grid-span(16, 1, $options: 'both');

	  }

	  

	  
	}

	#section-a
	{

	 @include grid-span(1, 1, $options: 'both');
	 
	  @include breakpoint($break) {
		@include grid-span(4, 1, $options: 'both');
	  }
	  
	 /*  @include breakpoint($break2) {
		@include grid-span(3, 1);
	  }*/

	  
	   @include breakpoint($break2) {
		@include grid-span(8, 5, $options: 'right');
		
	  
	  }
	}

	#section-b
	{

	 @include grid-span(1, 1, $options: 'both');
	 
	  @include breakpoint($break) {
		@include grid-span(4, 1, $options: 'both');
	  }
	  
	 /*  @include breakpoint($break2) {
		@include grid-span(3, 4, $options: 'right');
	  }*/

	  
	  @include breakpoint($break2) {
		@include grid-span(4, 13, $options: 'right');
		
	  }
	}

	#section-c
	{

	 @include grid-span(1, 1, $options: 'both');
	 
	  @include breakpoint($break) {
		@include grid-span(4, 1, $options: 'both');
	  }
	  
	 /*  @include breakpoint($break2) {
		@include grid-span(3, 7, $options: 'right');
	  }*/

	  
		
		
		@include breakpoint($break2) {
		@include grid-span(4, 1);
		
	  }
	}

	#section-d
	{

	 @include grid-span(1, 1, $options: 'both');
	 
	  @include breakpoint($break) {
		@include grid-span(4, 1, $options: 'both');
	  }
	  
	 /*  @include breakpoint($break2) {
		@include grid-span(6, 1, $options: 'both');
	  }*/

	  @include breakpoint($break2) {
		@include grid-span(6, 1, $options: 'both');
		
	  }
	}

	#section-e
	{

	 @include grid-span(1, 1, $options: 'both');
	 
	  @include breakpoint($break) {
		@include grid-span(4, 1, $options: 'both');
	  }
	  
	 /*  @include breakpoint($break2) {
		@include grid-span(6, 1, $options: 'both');
	  }*/

	  @include breakpoint($break2) {
		@include grid-span(6, 7);
		
	  }
	}

	#section-f
	{

	 @include grid-span(1, 1, $options: 'both');
	 
	  @include breakpoint($break) {
		@include grid-span(4, 1, $options: 'both');
	  }
	  /*
	   @include breakpoint($break2) {
		@include grid-span(3, 7, $options: 'right');
	  }*/

	 @include breakpoint($break2) {
		@include grid-span(4, 13, $options: 'right');
		
	  }
	}
}


