



/* DELETE 2/17
.hero .hero-content-wrap .hero-content-text{
	padding: 0 1em;
	text-align: center;
	
}*/


#banner
{
	background-color: #000;
}





.banner-banner-box .banner-content-wrap
{

@include breakpoint($break) {
		display: block;
		position: absolute;
		top: 3%;
		width: 100%;
		
}





}

.banner-banner-box .banner-image, .banner-minimal .banner-image
{
	@include breakpoint($break) {
		height: 550px;
	}
		
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	

}



.banner-content-box
{
	padding: 0 10px;

	@include breakpoint($break) {
		width: 90%;
		margin: 0 auto;
		padding: 0;
	}
	@include breakpoint($break2) {
	max-width: 1200px;
	margin: 0 auto;
	}
}



.banner.banner-banner-box .banner-content-wrap .banner-content-text
{
	color: #000;
	padding: 1em 10px;

	@include breakpoint($break) {
		width: 100%;
		background: rgba(113,113,113,0.5);
		color: #fff;
		padding: 1em 2em;
	}

	@include breakpoint($break2) {
		width: 50%;
		min-width: 600px;

	}
	

	
	margin: 0;
	
	
	border-radius: 25px;

	
}


.banner.banner-service-page .banner-image
{

	background-color: #000;
	
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
}

/*
.banner .banner-content-wrap .banner-content-text, .hero .hero-content-wrap .hero-content-text
{

	width: 100%;
max-width: 1200px;
padding: 0 1em;
text-align: left;

	@include breakpoint($break) {
		margin: 0 auto;
		
		text-align: left;
	}

}*/

.banner .banner-image img
{
	width: 100%;
	max-width: 100%;
}

.banner /*, .hero delete 2/17*/
{
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);

box-sizing: border-box;

display: block;

font-size: 18px;
	color: #303030;

overflow-x: hidden;
overflow-y: hidden;
padding-bottom: 0px;

padding-top: 0px;
position: relative;
transform: matrix(1, 0, 0, 1, 0, 0);
width: 100%;


}


.view-hero-news .field-name-field-hero-image
{
	img
	{
		width: 100%;
		max-height: 700px;
	}
}



@import 'banner-bottomfade';
@import 'banner-minimal';

