////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////
 $red: #990000;
 $stony-brook-red: $red;
 $dark-red: darken($red, 10%);
 $light-red: lighten($red, 10%);

	
	$gray: #ccc;
 $dark-gray: #333;
 $light-gray: #eee;
 
 $blue: #0063a3;
 $dark-blue: darken($blue, 10%);
 $light-blue: lighten($blue, 10%);

 $black:#000;
 $green: #009900;


 $facebook: #4c66a4;
 $twitter: #55ACEE;
 $yammer: #0072C6;

$normal-spacing: 10px;
$large-spacing: 20px;
$small-spacing: 5px;



$break: 420px;
$break2: 800px;
$break3: 960px;
$break4: 1200px;

$break-phone: 420px;
$break-tablet: 800px;
$break-narrow-desktop: 960px;
$break-desktop: 1200px;
$break-wide-desktop: 1600px;

/*
$grids: add-grid(1);
$grids: add-grid(4 at $break);
$grids: add-grid(16 at $break2);
$grids: add-grid(16 at $break3);
$grids: add-grid(16 at $break4);
*/

//$gutters: add-gutter(.4);