
.panel-front .top-wrapper
{

}

.panel-front .top-wrapper .panel-top-callout
{
	float:left;
	width: 25%;
}

.panel-front .top-wrapper .panel-banner
{
	float:left;
	width: 75%;
}

.panel-front .main-top-wrapper .panel-col-top-left, .panel-front .main-top-wrapper .panel-col-top-middle, .panel-front .main-top-wrapper .panel-col-top-right 
{
width: 33%;
float: left;
}

.panel-front .main-bottom-wrapper,.panel-front .main-top-wrapper
{
clear: both;
}

.panel-front .main-bottom-wrapper .panel-col-bot-left
{
width: 66%;
float: left;
}

.panel-front .main-bottom-wrapper .panel-col-bot-right
{
width: 34%;
float: left;
}