.alert-emergency {
  background-color: $dark-red;
  color: $white;
  padding: 2em;

}

.alert-notification {
  background-color: $information-bg;
  color: $white;
  padding: 2em;

  h2:before {
    @extend .sbuicon;
    content: "\ed61";
    margin-right: 0.5em;
  }
}

.alert-notification,
.alert-emergency {
  border-radius: 0;
  color: $white;
  margin-bottom: 0;

  .summary a {
    border-bottom: 1px dashed $gray;
    color: $gray;
    text-decoration: none;
   }

  .summary a:hover,
  .summary a:focus {
    border-bottom: 1px solid $white;
    text-decoration: none;
  }
}
