.background-image-section-left, .background-image-section-right {
    padding: 0px;

    .row {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.background-image-section-center
{
	@extend .section-light-theme;
	
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}