/* -------------------------------------------------------------------
Introductions
------------------------------------------------------------------- */


.intro__pt-50 {
	position: relative;
	padding: 50px 0;
	background-size: cover;
}
