.masonry {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;

}

.item {
    display: inline-block;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0 0 1.5em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

  .article-snippet {
    padding: 1.5em;
    
  }

}

.item img,
.item iframe {
max-width: 100%;
height: auto;
display: block;
}

.item .title {
text-align: left;
font-size: 1.5em;
margin-top: 0;
margin-bottom: 0.375em;
padding: 0;
}

.item .article-date {
  color: rgba(51,51,51,0.3);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: .5em;
  display: block;
}

.item a.article-read-more {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  vertical-align: middle;
  display: block;

}

.item a.article-read-more:after {
  content: "\00bb";
  margin-left: .3em;
}
.item a.article-read-more:hover,
.item a.article-read-more:focus {
  transition: .3s ease-in-out; 
}
.item .title a:hover {
color: #666;
border-color: #888;
}

.item .article-footer {

  border-top: 0 !important; 
  margin-right: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.item .article-footer .article-share {
  margin-right: 0;
}

.share-link,
.article-link {
color: #888;
}

@media only screen and (min-width: 480px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 990px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}