/* Varaibles - config */
$linePx: 1px;
$borderPx: 1px;
$screen-sm: 990px;
$color1: #000;
$color2: #fff;
$subcolor1: #000;
$subcolor2: black;
$pageBG:  #fff;
/* SCSS*/
.content{
	font-family: $font-family-base;
	font-size: $font-size-base;
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	position: relative;
}
.org-chart{
	display:block;
	clear: both;
	margin-bottom: 30px;
	position: relative;
	&.cf:before,
	&.cf:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}
	&.cf:after {
		clear: both;
	}
/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
&.cf {
	*zoom: 1;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
ul li{ position: relative;
	margin-top: 20px;
}
ul li span{
	display: block;
	border-top:  $borderPx solid $subcolor1;
	border-right:  $borderPx solid $subcolor1;
	border-bottom:  $borderPx solid $subcolor1;
	text-align: left;
	overflow: hidden;
	text-decoration: none;
	color: $subcolor2;
	font-size: 12px;
	box-shadow: 4px 4px 9px -4px rgba(0,0,0,0.4);
	-webkit-transition: all linear .1s;
	-moz-transition: all linear .1s;
	transition: all linear .1s;
	background: $color2;
	padding: 4px;
}
/* Box colors */
.lvl-b { background: $light-gray; color:$color1;  }
.cio { border-left: 1px solid #000;}
.board{
	width:70%;
	margin: 0 auto;
	display: block;
	position: relative;
	&:before{
		content: "";
		display: block;
		position: absolute;
		height: 100px;
		width: 0px;
		border-left:  $linePx solid $subcolor1;
		margin-left: 50%;
		top:  50px;
	}
}
/* 1 column */
ul.columnOne{
	height:90px;
	position: relative;
	width: 100%;
	display: block;
	clear: both;
	li{
		width:30%;
		margin: 0px auto;
		top:0px;
	}
}


/* DEPARTMENTS COLUMNs */
.departments{
	width: 100%;
	display: block;
	clear: both;
	&:before{
		content: "";
		display: block;
		width: 80%;
		height: 30px;
		border-top:  $linePx solid $subcolor1;
		border-left:  $linePx solid $subcolor1;
		border-right:  $linePx solid $subcolor1;
		margin-left: 5%;
		top:  0px;
	}
}
.department{
	border-left:  $linePx solid $subcolor1;
	width: 11%;
	float: left;
	margin: 0px 4px;
	&:after{
		content: "";
		position:absolute;
		display: block;
		width: 10px;
		height: 30px;
		border-left:  $linePx solid $subcolor1;
		left:50%;
		top:  -30px;
	}
	&:first-child{
		&:after{
			display:none;
		}
	}
	&:last-child{
		&:after{
			display:none;
		}
	}
	&.central{
		&:after{
			display:none;
		}
	}
	li{
		padding-left: 25px;
		border-bottom:  $linePx solid $subcolor1;
		height: 66px;
	}
	li span{
		background: $color2;
		top: 38px;
		position: absolute;
		z-index: 1;
		width: 95%;
		height: auto;
		vertical-align: middle;
		right:0px;
		line-height: 1.4em;
		border:  $borderPx solid $subcolor1;
	}
	.sections{
		margin-top: -20px;
	}
}
}
@mixin responsiveClasses() {
	.org-chart{
		.board{
			margin: 0px;
			width: 100%;
		}
		.departments{
			&:before{
				border:none;
			}
		}
		.department{
			float: none;
			width: 90%;
			margin-left: 0;
			background:$pageBG;
			margin-bottom: 40px;
			&:before{
				content: "";
				display: block;
				position: absolute;
				width: 15px;
				height: 60px;
				border-left:  $linePx solid $subcolor1;
				z-index: 1;
				top: -41px;
				left: 1px;
				margin-left: -2px;
			}
			&:after{
				display: none;
			}
		}
		.department:first-child:before{	display: none;}
	}
}
/* MEDIA QUERIES */
@media all and (max-width: $screen-sm){
	@include responsiveClasses();
}