.hero-minimal {

    .hero-content-wrap {
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;

        @include breakpoint($break-tablet) {
            display: block;
            position: absolute;
            width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        .hero-content-text {
            color: #fff;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 1em;
            h1 {
                font-size: 2.5em;
                color: #fff;
                text-shadow: 2px 2px 5px #000000;
                text-transform: uppercase;
                font-weight: 400;
                margin-top: 0;
                @include breakpoint($break2) {
                    font-size: 4em;
                    text-shadow: 2px 2px 5px #000000;
                    margin-top: 0;
                    color: #fff;
                    margin-top: 0.67em;
                }
            }
            .hero-buttons {
                max-width: 800px;
            }
            .outline-button {
                margin: 0 1em 0.80em 0;
                font-size: 0.8em;
                @include breakpoint($break2) {
                    margin: 0 1em 1em 0;
                    font-size: 1.0em;
                }
            }
        }
    }
}

.hero-minimal.hero-format-small, .hero-minimal.hero-format-banner {
    @include breakpoint($break-tablet) {
        min-height: 350px;
    }
}

.hero-minimal.hero-format-medium, .hero-minimal.hero-format-hero {
    @include breakpoint($break-tablet) {
        min-height: 550px;
    }
}

.hero-minimal.hero-format-large, .hero-minimal.hero-format-superhero {
    @include breakpoint($break-tablet) {
        height: 750px;
    }
}

.hero-minimal {}