.hero
{

-webkit-transform: matrix(1,0,0,1,0,0);
box-sizing: border-box;
display: block;
font-size: 18px;
color: #303030;
overflow-x: hidden;
overflow-y: hidden;
padding-bottom: 0;
padding-top: 0;
position: relative;
transform: matrix(1,0,0,1,0,0);
width: 100%;
}



@import 'hero-bottomfade';
@import 'hero-bottom-fade-res';

@import 'hero-minimal';
@import 'hero-contact-card';