




.hero .hero-content-wrap .hero-content-text{
	padding: 0 1em;
	text-align: center;
	
}


#banner
{
	background-color: #000;
}

.banner-minimal
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;

	background-color: #000;

	.banner-image
	{
		background-color: #000;
	}
}



.banner-banner-box .banner-content-wrap
{

font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

@include breakpoint($break) {
		display: block;
		position: absolute;
		top: 3%;
		width: 100%;
		
}





}

.banner-banner-box .banner-image, .banner-minimal .banner-image
{
	@include breakpoint($break) {
		height: 550px;
	}
		
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	

}

.banner-minimal.banner-format-small .banner-image, .banner-minimal.branding-format-banner .banner-image
{
	
		height: 350px;
	
}

.banner-minimal.banner-format-medium .banner-image, .banner-minimal.branding-format-hero .banner-image
{
	
		height: 550px;
	
}

.banner-minimal.banner-format-large .banner-image, .banner-minimal.branding-format-superhero .banner-image
{
	
		height: 750px;
	
}

.banner-minimal
{
		background-color: #000;

		.banner-content-wrap
		{
		
			width: 100%;
			
			display: block;
			position: absolute;
			width: 100%;

			top: 0;
			bottom: 0;
			left: 0;	
			right: 0;
			margin: auto;

			@include breakpoint($break2)
			{
				height: 80%;
			}
			
			
		}

	.banner-content-text{
		color: #fff;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 1em;

	
		h1
		{
			font-size: 3em;
			color: #fff;
			text-shadow: 2px 2px 5px #000000;
			text-transform: uppercase;
			font-weight: 400;
			@include breakpoint($break2) {
				font-size: 4em;
				text-shadow: 2px 2px 5px #000000;
				margin-top: 0;
				color: #fff;
			}

		}

		.banner-buttons
		{
			max-width: 800px;
		}


		.outline-button
		{
			margin: 0 1em 0.80em 0;
			font-size: 0.8em;

			@include breakpoint($break2) {

				margin: 0 1em 1em 0;
				font-size: 1.0em;
			}
		}

	
  }
	
}

.banner-content-box
{
	padding: 0 10px;

	@include breakpoint($break) {
		width: 90%;
		margin: 0 auto;
		padding: 0;
	}
	@include breakpoint($break2) {
	max-width: 1200px;
	margin: 0 auto;
	}
}

.banner.banner-banner-box.system-status-308 .banner-content-wrap .banner-content-text.system-status-307
{
	@include breakpoint($break) {
	background: rgba(0,0,153,0.5);
	}
}

.banner.banner-banner-box.system-status-308 .banner-content-wrap .banner-content-text
{
	@include breakpoint($break) {
	background: rgba(0,0,153,0.5);
	}
}

.banner.banner-banner-box.system-status-000 .banner-content-wrap .banner-content-text
{
	@include breakpoint($break) {
	background: rgba(0,153,0,0.5);
	}
}

.banner.banner-banner-box .banner-content-wrap .banner-content-text
{
	color: #000;
	padding: 1em 10px;

	@include breakpoint($break) {
		width: 100%;
		background: rgba(113,113,113,0.5);
		color: #fff;
		padding: 1em 2em;
	}

	@include breakpoint($break2) {
		width: 50%;
		min-width: 600px;

	}
	

	
	margin: 0;
	
	
	border-radius: 25px;

	.banner-system-status a, .banner-system-status a:hover
	{
		color: #990000;

		@include breakpoint($break) {
			color: #fff;
		}

	}
}


.banner.banner-service-page .banner-image
{

	background-color: #000;
	
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
}

.banner.banner-bottom-fade .banner-content-text
{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1em;
}

 .banner.banner-bottom-fade .banner-content-wrap, .hero .hero-content-wrap
{
	margin: 0;
padding: 1em 2em;
background: rgba(255,255,255,0.4);
	color: #fff;
display: block;
position: absolute;
bottom: 0;
right: 0;
width: 100%;
font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


}

/*
.banner .banner-content-wrap .banner-content-text, .hero .hero-content-wrap .hero-content-text
{

	width: 100%;
max-width: 1200px;
padding: 0 1em;
text-align: left;

	@include breakpoint($break) {
		margin: 0 auto;
		
		text-align: left;
	}

}*/

.banner .banner-image img
{
	width: 100%;
	max-width: 100%;
}

.banner, .hero
{
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);

box-sizing: border-box;

display: block;

font-size: 18px;
	color: #303030;

overflow-x: hidden;
overflow-y: hidden;
padding-bottom: 0px;

padding-top: 0px;
position: relative;
transform: matrix(1, 0, 0, 1, 0, 0);
width: 100%;


}


#banner{
	//margin-bottom: 2em;
}



.view-hero-news .field-name-field-hero-image
{
	img
	{
		width: 100%;
		max-height: 700px;
	}
}


#banner .flexslider li .caption-container
{
	width: 100%;

		position: absolute;
bottom: 0;
background: rgba(0, 0, 0,0.6);
z-index: 1;
color: #fff;
}

#banner .flexslider li .caption
{

padding: 10px;
max-width: 1200px;
margin: 0 auto;

}

.node-type-project #banner{

background-color: #fff;

.page-title{
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;

h1
{


	font-family: 'CenturyExpandedLTW01-Ro' !important;
	font-size: 3.3em;

font-weight: 400;
text-transform: none;
color: #000;
padding: 0 0.4em;
}
	
}

.flexslider {
  width: 100%;
  max-width: 1200px;
  min-height: 368px;
  margin: 0 auto;
  height: 100%;
  
}

.flexslider .slides
{
	height: 368px;
}
 
 
.slides li {
  display: block;
  //width: 800px;
  //height: 368px;
  height: 100%;


  background-position: center;
  background-repeat: no-repeat;

  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;



}

/*
.slides li:before
{
	content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    
}*/
 
/* the text box */
.slides li .slide-text {
  position: relative;
 
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 30px 35px;


   background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), no-repeat;


height: 100%;
  overflow: hidden;
  
 	color: #fff;
font-family:'Trade Gothic W01'; font-weight:200; font-style:normal;

   @include breakpoint($break) {
		width: 65%;
		
		background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 50%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(50%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

		
	  }

	     @include breakpoint($break2) {

		width: 35%;
	  }
}
 
.slides li .slide-text h1 {
  font-size: 22px;
  margin-bottom: 15px;
}

.slides li .slide-text p
{
	border-top-color: rgb(255, 255, 255);
border-top-style: solid;
border-top-width: 1px;
	font-size: 14px;
	cursor: auto;
display: block;
font-family:'Trade Gothic W01'; font-weight:200; font-style:normal;
font-size: 14px;
height: 110px;
line-height: 22.3999996185303px;
margin-top: 10px;
padding-top: 10px;
text-align: left;
text-transform: uppercase;
}



 
.flex-control-nav {
  bottom: -60px;
}
.flex-control-nav li {
  margin: 0 2px;
}
 
/* the dots below the slider */
.flex-control-paging li a {
  background-color: #e9e9e9;
  background-image: linear-gradient(to bottom, #f5f5f5, #d9d9d9); /* add prefixed versions */
  background-repeat: repeat-x;
  box-shadow: inset 0 -1px 0 0 white, 0 1px 0 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ededed;
  height: 14px;
  width: 14px;
}
.flex-control-paging li a.flex-active {
  background: #ef3a34;
  border-color: #ef3a34;
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.5), 0 1px 0 0 rgba(0, 0, 0, 0.25);
}
.flex-control-paging li a:hover {
  background: #015697;
  border-color: #015697;
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.5), 0 1px 0 0 rgba(0, 0, 0, 0.25);
}


.flex-direction-nav a.flex-prev
{
	margin: -25px 0 0 -78px;
	width: 78px;
	height: 78px;
	background: url("../assets/slider/left-icon.png");
}

.flex-direction-nav a.flex-next
{
	margin: -25px -78px 0 0;
		width: 78px;
	height: 78px;
	background: url("../assets/slider/right-icon.png");
}

}