/*.promo
{
	.promo-image-left
	{

		@include breakpoint($break-phone)
		{
			width: 45%;
			
			display: inline-block;
			vertical-align: top;
			margin-right: 5%;
		}
	}

	.promo-content
	{
		@include breakpoint($break-phone)
		{


		width: 45%;
		display: inline-block;
		vertical-align: top;
		}
	}
}*/