<!--#include file="includes/headers/header.html" -->

<!-- image nav menu bar -->
<style>
@media only screen and (min-width: 992px) and (min-width: 0px) {
	.img_background{
		display:none;
	}
	.img_secondary_container{
		background-image:url("http://mysbfiles.stonybrook.edu/~wchiu/roof-view-2.jpg");
		background-repeat: no-repeat;\
		background-size:cover;
		background-size: 100% 100%;
	}
	.img-nav-bar{
		text-align:center;
	}
	.sec_button{
		padding:10px;
		margin:10px;
		background-color:#3498db ; /*sky blue */
		opacity:0.8;
		border-radius:5px;
		width:auto;
		display:inline-block;
		font-size:2em;
		font-weight:bolder;
	}
	a.sec_button{
		color:black;
	}
	.sec_button:hover{
		color:black;
		background-color:#55a9e1;
		opacity:0.8;
	}
	.img_nav_code{
		width:60%;
		margin:auto;
	}

}
	</style>

<section class="img_secondary_container"  >
	<!--   whatever padding you want  can be placed in the class above   -->

	<div class="img-nav-bar">
		<a class="sec_button" href="hero.html" class="op-button-red">Hero Component Demo Page</a>
		<a class="sec_button" href="horizontal-card.html" class="op-button-red">Horizontal Card Demo Page</a>
		<a class="sec_button" href="../full-pages/student-booklet.html" class="op-button-red">Student Booklet</a>
		<a class="sec_button" href="https://yahoo.com" class="op-button-red">Yahoo</a>
		<a class="sec_button" href="https://google.com" class="op-button-red">Google</a>
	</div>
	<div class="fluffy">
	</div>
</section>
<!-- image nav menu bar -->
<section class="cozy img_nav_code">
	<pre>
		&lt;section class=&quot;img_secondary_container&quot;  &gt;
			&lt;!--   whatever padding you want  can be placed in the class above   --&gt;
			&lt;div class=&quot;img-nav-bar&quot;&gt;
				&lt;a class=&quot;sec_button&quot; href=&quot;hero.html&quot; class=&quot;op-button-red&quot;&gt;Hero Component Demo Page&lt;/a&gt;
				&lt;a class=&quot;sec_button&quot; href=&quot;horizontal-card.html&quot; class=&quot;op-button-red&quot;&gt;Horizontal Card Demo Page&lt;/a&gt;
				&lt;a class=&quot;sec_button&quot; href=&quot;../full-pages/student-booklet.html&quot; class=&quot;op-button-red&quot;&gt;Student Booklet&lt;/a&gt;
				&lt;a class=&quot;sec_button&quot; href=&quot;https://yahoo.com&quot; class=&quot;op-button-red&quot;&gt;Yahoo&lt;/a&gt;
				&lt;a class=&quot;sec_button&quot; href=&quot;https://google.com&quot; class=&quot;op-button-red&quot;&gt;Google&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class=&quot;fluffy&quot;&gt;
			&lt;/div&gt;
		&lt;/section&gt;
	</pre>
</section>

<!--#include file="includes/footers/simple.html" -->