.star-list-card
{
	
    background: #1f0000;
    border: 4px solid #ebcccc;
    padding: 20px 30px;

    a, li, li:before
    {
    	color: #fff
    }

    h3
    {
    	font-family: 'Trade Gothic W01 Light';
color: #fff;
font-size: 1.2em;
margin: 0 0 20px 5px;
text-transform: uppercase;
border-bottom: 1px solid #fff;
text-indent: -5px;
width: auto;
display: inline-block;
padding: 0 5px 0 0;

span
{
	font-family: 'CenturyExpandedLTW01-It';
text-transform: lowercase;
display: inline-block;
padding: 0 3px 0 0;
letter-spacing: .025em;
    }
}
}
