html, body {
    margin: 0em; /* 0/16 */
    height: 100%;
    background: #fff;
}

body {
    font-size: 14px; 
}

#main-prefix, #main-postfix, #main-content {
    margin: 1em 0;
}



.unity-no-sidebars {
    #main-prefix {
        display: none;
    }

    #main-suffix {
        display: none;
    }

    #main-content {
        @include make-sm-column(12);
    }
}

.unity-sidebar-prefix {
    #main-prefix {
        @include make-lg-column(3);
        @include make-lg-column-pull(9);

        h2 {
            font-size: 1.6em;
        }

        ul li {
            list-style: none;
            padding: 0em 0em 0.3125em 0em; /* 0/16 */ /* 0/16 */ /* 5/16 */ /* 0/16 */
            text-align: left;
            margin: 0.375em 0em 0.25em 0em; /* 6/16 */ /* 0/16 */ /* 4/16 */ /* 0/16 */

            @include breakpoint($screen-lg) {
                border-bottom: 0.0625em solid #ccc; /* 1/16 */
            }
        }

        ul ul {
          margin: 0.9375em 0 0 0.625em; /* 15/16 */ /* 10/16 */
          padding: 0;
            
                @include breakpoint($screen-lg) {
                border-top: 0.0625em solid #ccc; /* 1/16 */
            }
        }



        ul li:last-child
        {
            @include breakpoint($screen-lg) {
                border-bottom: 0em solid #ccc; /* 0/16 */
            }
        }

        ul li a:after {
            display: inline-block;
            content: "\f105";
            margin: 0 0 0 0.5em; /* 8/16 */
            @extend .sbuicon;
            position: relative;
            z-index: 1;
            font-size: 1em;

            @include breakpoint($screen-lg) {
                content: "";
            }
        }
    }

    #main-content {
        @include make-lg-column(9);
        @include make-lg-column-push(3);
    }
}


 #right-prefix {
        margin-bottom: 2em;
    }

    #right-prefix, #right-postfix {
        h2 {
            font-size: 1.6em;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

    #right-prefix > .panel-pane, #right-postfix > .panel-pane {
        margin: 1em 0;
    }

@import "responsive-2col";