html, body {
    margin: 0px;
    height: 100%;
    background: #fff;
}

body {
    font-size: 14px;
}

#main-prefix, #main-postfix, #main-content {
    margin: 1em 0;
}

.unity-no-sidebars {
    #main-prefix {
        display: none;
    }

    #main-suffix {
        display: none;
    }

    #main-content {
        @include make-sm-column(12);
    }
}

.unity-sidebar-prefix {
    #main-prefix {
        @include make-lg-column(3);
        @include make-lg-column-pull(9);

        h2 {
            font-size: 1.6em;
        }

        ul li {
            list-style: none;
            padding: 0px 0px 5px 0px;
            text-align: left;
            margin: 6px 0px 4px 0px;

            @include breakpoint($screen-lg) {
                border-bottom: 1px solid #ccc;
            }
        }

        ul li a:after {
            display: inline-block;
            content: "\f105";
            margin: 0 0 0 8px;
            @extend .sbuicon;
            position: relative;
            z-index: 1;
            font-size: 1em;

            @include breakpoint($screen-lg) {
                content: "";
            }
        }
    }

    #main-content {
        @include make-lg-column(9);
        @include make-lg-column-push(3);
    }
}

@import "responsive-2col";