.fluffy {
    padding: 6em 0em;

    .section-header {
        margin: 2em 0;
    }
}

.light {
    padding: 5em 0em;

    .section-header {
        margin: 2em 0;
    }
}

.airy {
    padding: 4.5em 0em;

    .section-header {
        margin: 2em 0;
    }
}

.spacey {
    padding: 4em 0em;

    .section-header {
        margin: 1.5em 0;
    }
}

.comfy {
    padding: 3em 0em;

    .section-header {
        margin: 1.5em 0;
    }
}

.cozy {
    padding: 2em 0em;
}

.snug {
    padding: 1em 0em;
}

.tight {
    padding: 0;
}

.padding-5 {
    padding: 5px;
}

.padding-5-0 {
    padding: 5px 0px;
}

.padding-0-5 {
    padding: 0px 5px;
}

.padding-0-0-5-5 {
    padding: 0px 0px 5px 5px;
}

.padding-0-5-5-0 {
    padding: 0px 5px 5px 0px;
}

.padding-5-0-5-5 {
    padding: 5px 0px 5px 5px;
}

.padding-5-5-5-0 {
    padding: 5px 5px 5px 0px;
}

.padding-10 {
    padding: 10px;
}

.padding-10-0 {
    padding: 10px 0px;
}

.padding-0-10 {
    padding: 0px 10px;
}

.padding-0-0-10-10 {
    padding: 0px 0px 10px 10px;
}

.padding-0-10-10-0 {
    padding: 0px 10px 10px 0px;
}

.padding-10-10-10-0 {
    padding: 10px 10px 10px 0px;
}

.padding-10-0-10-10 {
    padding: 10px 0px 10px 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-15-0 {
    padding: 15px 0px;
}

.padding-0-15 {
    padding: 0px 15px;
}

.padding-0-0-15-15 {
    padding: 0px 0px 15px 15px;
}

.padding-0-15-15-0 {
    padding: 0px 15px 15px 0px;
}

.padding-15-15-15-0 {
    padding: 15px 15px 15px 0px;
}

.padding-15-0-15-15 {
    padding: 15px 0px 15px 15px;
}