.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.third-width {
    width: 33.3333%;
}

.max-width-100 {
    max-width: 100px;
}

.max-width-200 {
    max-width: 200px;
}

.max-width-300 {
    max-width: 300px;
}

.max-width-25-percent {
    max-width: 25%;
}

.max-width-50-percent {
    max-width: 50%;
}

.max-width-75-percent {
    max-width: 75%;
}

.max-width-100-percent {
    max-width: 100%;
}

.width-10-percent {
    width: 10%;
}

.width-20-percent {
    width: 20%;
}

.width-25-percent {
    width: 25%;
}

.width-30-percent {
    width: 30%;
}

.width-40-percent {
    width: 40%;
}

.width-50-percent {
    width: 50%;
}

.width-60-percent {
    width: 60%;
}

.width-70-percent {
    width: 70%;
}

.width-75-percent {
    width: 75%;
}

.width-80-percent {
    width: 80%;
}

.width-90-percent {
    width: 90%;
}

.width-100-percent {
    width: 100%;
}