@import "side-image";

/* see http://cssarrowplease.com/ */
    .arrow-below {
        position: relative;
    }
    .arrow-below:after, .arrow-below:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    /* the arrow */
    .arrow-below:after {
        border-top-color: #fff;
        border-width: 30px;
        margin-left: -30px;
        z-index: 1000;
    }
    /* the border */
    .arrow-below:before {
        border-top-color: #000;
        border-width: 0;
        margin-left: 0;
        /*
        border-width: 36px;
        margin-left: -36px;
        */
    }
    .arrow-below-grey:after {
        border-top-color: #e2e2e2;
    }
    .arrow-below-white:after {
        border-top-color: #fff;
    }

    .arrow-below-black:after {
        border-top-color: #000;
    }

    .arrow-below-red:after {
        border-top-color: #900;
    }
  
  /*  .arrow-below + section,
    section.arrow-above {
        padding: 50px 0 0 0;
    }*/

/* end arrows */ 

.section-header
{
    text-align: center;
}