


.view-additional-news
{
	ul.articles
	{
		padding: 0px;
		margin: 0px;
	}
	.article {
		
			width: 100%;
			margin: 0px 0 20px 0;
			
		 display: inline-block;
    	vertical-align: top;
    	list-style:none;
	

			@include breakpoint($break-phone)
		 {
			width: 45%;
			margin-right: 4%;
		}

		@include breakpoint($break-tablet)
		 {
			width: 28%;
			
		}
	}

}