img.image-small
{
	width: 100px;
	height: 100px;
}

img.image-med
{
	width: 150px;
	height: 150px;
}

img.image-large
{
	width: 200px;
	height: 200px;
}


.circle-image img, img.circle-image
{
	margin-bottom: 20px;
	display: block;
	border: 0px solid #eee;
	border-radius: 50px;
	box-shadow: 0px 0px 14px rgba(0,0,0, 1.0);
	width: 100px;
	height: 100px;

}

.circle-image-med img, img.circle-image-med
{
	margin-bottom: 20px;
	display: block;
	border: 0px solid #eee;
	border-radius: 75px;
	box-shadow: 0px 0px 14px rgba(0,0,0, 1.0);
	width: 150px;
	height: 150px;

}

.circle-image-large img, img.circle-image-large
{
	margin-bottom: 20px;
	display: block;
	border: 0px solid #eee;
	border-radius: 100px;
	box-shadow: 0px 0px 14px rgba(0,0,0, 1.0);
	width: 200px;
	height: 200px;

}

img.circle-image:hover
{
		box-shadow: 0px 0px 14px rgba(153,0,0, 1.0);
}
