a:link, a:visited, a:active {
    background-color: transparent;
    color: $red;
    text-decoration: none;
}

a:hover, a.selected {
    color: $dark-gray;
}

a.arrow-link:after {
    display: inline-block;
    content: "\f105";
    margin: 0 0 0 8px;
    @extend .sbuicon;
    position: relative;
    z-index: 1;
    font-size: 1em;
}

i.heading-icon {
    display: block;
    margin-bottom: 2em;
}