tbody
{
border-top: 0px;
}


.view.width-100 table, .view.width-100 .views-view-grid
{
width: 100%;
}


.padding-5, .view.padding-5 .views-row, .view.padding-5 table tr, .view.padding-5 table td, .view table tr.padding-5 td, .view table tr td.padding-5
{
	padding: 5px;
}

.padding-5-0, .view.padding-5-0 .views-row, .view.padding-5-0 table tr, .view.padding-5-0 table td, .view table tr td.padding-5-0
{
	padding: 5px 0px;	
}

.padding-0-5, .view.padding-0-5 .views-row, .view.padding-0-5 table tr, .padding-0-5 table td, .view table tr.padding-0-5 td, .view table tr td.padding-0-5
{
	padding: 0px 5px;
}

.padding-0-0-5-5, .view.padding-0-0-5-5 .views-row, .view.padding-0-0-5-5 table tr, .view.padding-0-0-5-5 table td, .view table tr.padding-0-0-5-5 td, .view table tr td.padding-0-0-5-5
{
	padding: 0px 0px 5px 5px;
}

.padding-0-5-5-0, .view.padding-0-5-5-0 .views-row, .view.padding-0-5-5-0 table tr, .view.padding-0-5-5-0 table td, .view table tr.padding-0-5-5-0 td, .view table tr td.padding-0-5-5-0
{
	padding: 0px 5px 5px 0px;
}

.padding-5-0-5-5, .view.padding-5-0-5-5 .views-row, .view.padding-5-0-5-5 table tr, .view.padding-5-0-5-5 table td, .view table tr.padding-5-0-5-5 td, .view table tr td.padding-5-0-5-5
{
	padding: 5px 0px 5px 5px;
}

.padding-5-5-5-0, .view.padding-5-5-5-0 .views-row, .view.padding-5-5-5-0 table tr, .view.padding-5-5-5-0 table td, .view table tr.padding-5-5-5-0 td, .view table tr td.padding-5-5-5-0
{
	padding: 5px 5px 5px 0px;
}


.padding-10, .view.padding-10 .views-row, .view.padding-10 table tr, .view.padding-10 table td, .view table tr.padding-10 td, .view table tr td.padding-10
{
	padding: 10px;
}

.padding-10-0, .view.padding-10-0 .views-row, .view.padding-10-0 table tr, .view.padding-10-0 table td, .view table tr.padding-10-0 td, .view table tr td.padding-10-0
{
	padding: 10px 0px;
}

.padding-0-10, .view.padding-0-10 .views-row, .view.padding-0-10 table tr, .view.padding-0-10 table td, .view table tr.padding-0-10 td, .view table tr td.padding-0-10
{
	padding: 0px 10px;
}

.padding-0-0-10-10, .view.padding-0-0-10-10 .views-row, .view.padding-0-0-10-10 table tr, .view.padding-0-0-10-10 table td, .view table tr.padding-0-0-10-10 td, .view table tr td.padding-0-0-10-10
{
	padding: 0px 0px 10px 10px;
}

.padding-0-10-10-0, .view.padding-0-10-10-0 .views-row, .view.padding-0-10-10-0 table tr, .view.padding-0-10-10-0 table td, .view table tr.padding-0-10-10-0 td, , .view table tr td.padding-0-10-10-0
{
	padding: 0px 10px 10px 0px;
}

.padding-10-10-10-0, , .view.padding-10-10-10-0 .views-row, .view.padding-10-10-10-0 table tr, .view.padding-10-10-10-0 table td, .view table tr.padding-10-10-10-0 td, .view table tr td.padding-10-10-10-0
{
	padding: 10px 10px 10px 0px;
}

.padding-10-0-10-10, .view.padding-10-0-10-10 .views-row, .view.padding-10-0-10-10 table tr, .view.padding-10-0-10-10 table td, .view table tr.padding-10-0-10-10 td, .view table tr td.padding-10-0-10-10
{
	padding: 10px 0px 10px 10px;
}


.padding-15, .view.padding-15 .views-row, .view.padding-15 table tr, .view.padding-15 table td, .view table tr.padding-15 td, .view table tr td.padding-15
{
	padding: 15px;
}

.padding-15-0, .view.padding-15-0 .views-row, .view.padding-15-0 table tr, .view.padding-15-0 table td, .view table tr.padding-15-0 td, .view table tr td.padding-15-0
{
	padding: 15px 0px;
}

.padding-0-15, .view.padding-0-15 .views-row, .view.padding-0-15 table tr, .view.padding-0-15 table td, .view table tr.padding-0-15 td, .view table tr td.padding-0-15
{
	padding: 0px 15px;
}

.padding-0-0-15-15, .view.padding-0-0-15-15 .views-row, .view.padding-0-0-15-15 table tr, .view.padding-0-0-15-15 table td, .view table tr.padding-0-0-15-15 td, .view table tr td.padding-0-0-15-15
{
	padding: 0px 0px 15px 15px;
}

.padding-0-15-15-0, .view.padding-0-15-15-0 .views-row, .view.padding-0-15-15-0 table tr, .view.padding-0-15-15-0 table td, .view table tr.padding-0-15-15-0 td, , .view table tr td.padding-0-15-15-0
{
	padding: 0px 15px 15px 0px;
}

.padding-15-15-15-0, , .view.padding-15-15-15-0 .views-row, .view.padding-15-15-15-0 table tr, .view.padding-15-15-15-0 table td, .view table tr.padding-15-15-15-0 td, .view table tr td.padding-15-15-15-0
{
	padding: 15px 15px 15px 0px;
}

.padding-15-0-15-15, .view.padding-15-0-15-15 .views-row, .view.padding-15-0-15-15 table tr, .view.padding-15-0-15-15 table td, .view table tr.padding-15-0-15-15 td, .view table tr td.padding-15-0-15-15
{
	padding: 15px 0px 15px 15px;
}

.view.border-separator .views-row, .view.border-separator table tr, tr.border-separator
{
	
	margin-bottom: 8px;
	border-bottom: 1px solid #ccc;
}

.view.border-separator .views-row.views-row-last, .view.border-separator table tr.views-row-last
{
	border: 0px;
}
.view.padding-row-0-0-10-0 .views-row
{
	padding: 0px 0px 10px 0px;
}

.view.td-centered .views-table td, .view.td-centered .views-view-grid td
{
text-align: center;
}

.view.left-center-right .views-view-grid td
{
text-align: center;
}

.view.left-center-right .views-view-grid td.col-first
{
text-align: left;
}

.view.left-center-right .views-view-grid td.col-last
{
text-align: right;
}

.view table th
{
	font-size: 1.2em;
	text-align: left;
}

td.centered, th.centered
{
	text-align: center;
}

.view table td
{
vertical-align: top;

}

.view table td strong.heading
{
	font-size: 1.2em;


}

.contents-view td
{
padding-top: 10px;
padding-bottom: 10px;
}

.contents-view table
{
width:100%;
margin-bottom: 10px;
}

.contentsview .odd:first-child
{
	border-top: 1px solid #ccc;
}



.left-align-caption caption
{
text-align: left;
}


.view-1-col-100 .views-table, .view-1-col-100 .views-table td
{
width: 100%;
}

.view-2-col-80-20 .views-table .col-1
{
width: 80%;
}

.view-2-col-80-20 .views-table .col-2
{
width: 20%;
}

.view-2-col-70-30 .views-table .col-1
{
width: 70%;
}

.view-2-col-70-30 .views-table .col-2
{
width: 30%;
}

.view-2-col-60-40 .views-table .col-1
{
width: 60%;
}

.view-2-col-60-40 .views-table .col-2
{
width: 40%;
}

.view-2-col-50-50 .views-table .col-1, .view-2-col-50-50 .views-table .col-2
{
width: 50%;
}

.view.padding-10 td, .view.padding-10 th
{
padding: 10px 10px;
}

.view.padding-10-5 td, .view.padding-10-5 th
{
padding: 10px 5px;
}

.view.padding-10-0 td, .view.padding-10-0 th
{
padding: 10px 0px;
}

.contents-view caption a, .contents-view caption
{
	color: #000;
}

.view.top td
{
vertical-align: top;
}

.view td h1, .view td h2, .view td h3, .view td h4, .view td h5, .view td h6
{
padding-top: 0px;
}


.row-striped
{

	tr.odd, .views-row-odd
	{
	background-color: #fff;
	}

	tr.even, .views-row-even
	{
		background-color: $light-gray;
	}


}

table th
{
	text-align: left;
}

.row-rounded
{
	.views-row
	{

		border-radius: 5px;
	}

}


.view-unity-polaroid 
{

	margin-left: -10px;
	margin-right: -10px;

	ul
	{
		list-style: none;
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		width: 100%;
		

		li{
			width: 23%;
			
			margin: 1%;
			display: block;
			float: left;
			border: #B7B5B6 1px solid;
			background: #FFF;
			-webkit-box-shadow: 0px 0px 8px #B7B5B6;
			box-shadow: 0px 0px 8px #B7B5B6;
			text-align: center;
			position:relative;
			padding: 1%;
			height: 100%;
			a
			{
				display: block;
				height: 100%;
				width: 100%;
				
			

				img
				{
						max-height: 128px;
						width: auto; 
						margin: 10px auto;
				}

				span
				{
					padding: 5px 10.99530449186776%;
					display: block;
				}
			}

			.views-field-field-logo, .views-field-field-image
			{
				width: 100%;
			}
		}

		li:hover
		{
			-webkit-box-shadow: 0px 0px 8px #990000;
			box-shadow: 0px 0px 8px #990000;
		}



	


	}
}

	.view-unity-polaroid.polaroid-100
	{
		ul {

			li {
				height: 100px;
			}
		}
	}

	.view-unity-polaroid.polaroid-125
	{
		ul {

			li {
				height: 125px;
			}
		}
	}

	.view-unity-polaroid.polaroid-150
	{
		ul {

			li {
			height: 150px;
			}
		}
	}

	.view-unity-polaroid.polaroid-200
	{
		ul { 
			li {
				height: 200px;
			}
		}
	}

	.view-unity-polaroid.polaroid-250
	{
		ul {
			
			li {
			height: 250px;
			}
		}
	}



	


.pager {
  clear: both;
  text-align: center;
}
.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: 0.5em;
}
.pager-current {
  font-weight: bold;
}


.view.view-red-box-rows .views-row
{
		background-color: #fee3e3;
		padding: 10px;
		margin: 0px 0px 15px 0px;

		border:2px solid #663333;
		border-radius:5px;

}

//Used on Blog list on it.stonybrook.edu
.view.thin-separated-rows .views-row
{
	border-bottom: 1px solid $gray;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.views-features
{
	img
	{
		width: 100%;
		height: auto;
	}
}

.view table caption
{
	text-align: left;
	color: #000;
	font-size: 1.3em;
	margin: 0em 0 1em 0;
	font-weight: bold;

}

.view .views-table
{
	margin-bottom: 20px;
}

.shadow-grid-3-column
{
	ul
	{
		list-style: none;
		list-style-type: none;
		padding: 0px;
		margin: 0px;

		li{
			width: 30%;
			float: left;
			margin: 1.5%;
			
			text-align: center;
			
			
			display: block;
			float: left;
			border: #B7B5B6 1px solid;
			background: #FFF;
			-webkit-box-shadow: 0px 0px 8px #B7B5B6;
			box-shadow: 0px 0px 8px #B7B5B6;
			text-align: center;
			position:relative;
			padding: 0px;
			a
			{
				display: block;
				height: 135px;
				width: 100%;
				
				

				img
				{
					width: 43.98121796747105%;
					height: auto;
					max-width: 60px;
				}

				span
				{
					padding: 5px 10.99530449186776%;
					display: block;
				}
			}
		}

		li:hover
		{
			-webkit-box-shadow: 0px 0px 8px #990000;
box-shadow: 0px 0px 8px #990000;
		}

	


	}
}

.fixed-width-100
{
	width: 100px;
	min-width: 100px;
}

.fixed-width-150
{
	width: 150px;
	min-width: 150px;
}


.fixed-width-200
{
	width: 200px;
	min-width: 200px;
}

.fix-width-10, .width-10
{
	width: 10%;
}

.fix-width-20, .width-20
{
	width: 20%;
}


.fix-width-25, .width-25
{
	width: 25%;
}

.fix-width-30, .width-30
{
	width: 30%;
}


.fix-width-40, .width-40
{
	width: 40%;
}


.fix-width-50, .width-50
{
	width: 50%;
}


.fix-width-60, .width-60
{
	width: 60%;
}


.fix-width-70, .width-70
{
	width: 70%;
}


.fix-width-75, .width-75
{
	width: 75%;
}


.fix-width-80, .width-80
{
	width: 80%;
}


.fix-width-90, .width-90
{
	width: 90%;
}


.fix-width-100, .width-100
{
	width: 100%;
}



.row-striped
{

	tr.odd, .views-row-odd
	{
	background-color: #fff;
	}

	tr.even, .views-row-even
	{
		background-color: $light-gray;
	}


}

table th
{
	text-align: left;
}

.row-rounded
{
	.views-row
	{

		border-radius: 5px;
	}

}
