table.row-striped {
    tr.odd, .views-row-odd {
        background-color: #fff;
    }

    tr.even, .views-row-even {
        background-color: $light-gray;
    }
}

table th {
    text-align: left;
}