.typography {
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
	
	.typo-spec {
		bottom: .8em;
		color: $gray;
		display: block;
		font-weight: 400;
		font-size: 13px;
		line-height: 13px;
		left: 0;
		margin-left: 20px;
		position: absolute;
		width: 260px;
	}
}


/* ------------------------------------------------------------------
Typography
------------------------------------------------------------------- */


.font-serif {
	font-family: "CenturyExpd BT Roman", serif;	
	font-style: italic;
}

.font-alt {
	font-family: 'Trade Gothic Next W01', Arial, sans-serif;
	line-height: 1.7em;
}

.font-alt-medium {
	font-family: 'Trade Gothic Next W01', Arial, sans-serif;
	font-size: 20px;
	line-height: 1.7em;
}

