/* ------------------------------------------------------------------
Typography
------------------------------------------------------------------- */


.font-serif {
	font-family: "CenturyExpd BT Roman", serif;	
	font-style: italic;
}

.font-alt {
	font-family: 'Trade Gothic Next W01', Arial, sans-serif;
	line-height: 1.7em;
}

.font-alt-medium {
	font-family: 'Trade Gothic Next W01', Arial, sans-serif;
	font-size: 20px;
	line-height: 1.7em;
}

