
.blue-gradient
{

background: #3a9cff; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #3a9cff 0%, #9bc9f7 45%, #3a9cff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3a9cff), color-stop(45%,#9bc9f7), color-stop(100%,#3a9cff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #3a9cff 0%,#9bc9f7 45%,#3a9cff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #3a9cff 0%,#9bc9f7 45%,#3a9cff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #3a9cff 0%,#9bc9f7 45%,#3a9cff 100%); /* IE10+ */
background: linear-gradient(135deg,  #3a9cff 0%,#9bc9f7 45%,#3a9cff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a9cff', endColorstr='#3a9cff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.orange-gradient
{
background: #e0a855; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #e0a855 0%, #f9df81 45%, #e0a855 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e0a855), color-stop(45%,#f9df81), color-stop(100%,#e0a855)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #e0a855 0%,#f9df81 45%,#e0a855 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #e0a855 0%,#f9df81 45%,#e0a855 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #e0a855 0%,#f9df81 45%,#e0a855 100%); /* IE10+ */
background: linear-gradient(135deg,  #e0a855 0%,#f9df81 45%,#e0a855 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0a855', endColorstr='#e0a855',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.green-gradient
{
background: #99cc99; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #99cc99 0%, #cdf9cc 45%, #99cc99 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#99cc99), color-stop(45%,#cdf9cc), color-stop(100%,#99cc99)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #99cc99 0%,#cdf9cc 45%,#99cc99 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #99cc99 0%,#cdf9cc 45%,#99cc99 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #99cc99 0%,#cdf9cc 45%,#99cc99 100%); /* IE10+ */
background: linear-gradient(135deg,  #99cc99 0%,#cdf9cc 45%,#99cc99 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99cc99', endColorstr='#99cc99',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.red-gradient
{
background: #ff5c5c; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #ff5c5c 0%, #fe9090 45%, #ff5c5c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff5c5c), color-stop(45%,#fe9090), color-stop(100%,#ff5c5c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #ff5c5c 0%,#fe9090 45%,#ff5c5c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #ff5c5c 0%,#fe9090 45%,#ff5c5c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #ff5c5c 0%,#fe9090 45%,#ff5c5c 100%); /* IE10+ */
background: linear-gradient(135deg,  #ff5c5c 0%,#fe9090 45%,#ff5c5c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#ff5c5c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.brushed-alum
{
	background-image: image-url('textures/brushed-alum.png');
}

.hexellence
{
	background-image: image-url('textures/hexellence.png');
}

.black-paper
{
	background-image: image-url('textures/black-paper.png');
}

.gray-background
{
	
	background-image: image-url('textures/bright-squares.png');
	background-repeat: repeat;
	background-color: $light-gray;
	
}


.red-background-gradient
{

background: rgba(56,1,14,1);
background: -moz-linear-gradient(-45deg, rgba(56,1,14,1) 0%, rgba(153,0,0,1) 33%, rgba(153,0,0,1) 66%, rgba(56,1,14,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(56,1,14,1)), color-stop(33%, rgba(153,0,0,1)), color-stop(66%, rgba(153,0,0,1)), color-stop(100%, rgba(56,1,14,1)));
background: -webkit-linear-gradient(-45deg, rgba(56,1,14,1) 0%, rgba(153,0,0,1) 33%, rgba(153,0,0,1) 66%, rgba(56,1,14,1) 100%);
background: -o-linear-gradient(-45deg, rgba(56,1,14,1) 0%, rgba(153,0,0,1) 33%, rgba(153,0,0,1) 66%, rgba(56,1,14,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(56,1,14,1) 0%, rgba(153,0,0,1) 33%, rgba(153,0,0,1) 66%, rgba(56,1,14,1) 100%);
background: linear-gradient(135deg, rgba(56,1,14,1) 0%, rgba(153,0,0,1) 33%, rgba(153,0,0,1) 66%, rgba(56,1,14,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38010e', endColorstr='#38010e', GradientType=1 );
}