////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

tbody
{
border-top: 0px;
}

body
{
		background: #ccc;
		font-size: 16px;
		font-family: Arial, Verdana, Tahoma, Sans-Serif;


}

a:link, a:visited, a:active {
		background-color: transparent;
		color: #990000;
		text-decoration: none;
}

/*
**		Set link color to darker gray (#444444) for link hover.
*/
a:hover, a.selected {
		background-color: transparent;
		color: #444444;
		text-decoration: underline;
}


h2
{
	margin: 0px 0px 0.6em 0px;
	padding: 0px;
	/*border-bottom: 2px solid #333333;*/
	font-weight: bold;
	font-size: 2.0em;
	font-family: Arial, sans serif;
	text-align: left;
	color: #333333;
}

h1 {
	font-weight: bold;
	font-size: 2.50em;
	color: #990000;
	margin: 0 0 10px 0;
	padding: 0px;
	font-family: "news-gothic-std", Arial, sans serif;
}

h3 {
	font-weight: bold;
	font-size: 1.2em;
	color: #990000;
	margin: 0px;
	padding: 0px;
	font-family: "news-gothic-std", Arial, sans serif;
}

h4 {
	font-weight: bold;
	font-size: 1.1em;
	margin: 0px;
	padding: 0px;
	font-family: "news-gothic-std", Arial, sans serif;
}

h5 {
	font-weight: bold;
	font-size: 1.1em;
	margin: 0;
	padding: 0 5px 5px;
	color: #990000;
	font-family: "news-gothic-std", Arial, sans serif;
}


#main-prefix
{
padding: 10px 5px 5px 5px;
border-right: 1px solid #ccc;
}

#page
{
	@include breakpoint($break2)
	{
		-moz-box-shadow: 0 0 5px 5px #888;
		-webkit-box-shadow: 0 0 5px 5px#888;
		box-shadow: 0 0 5px 5px #888;
	}


}

.field-name-body h2, #main-content h2
{
	border-bottom: 0px;
	color: #000000;
	margin-bottom: 0.4em;
}

#right-prefix, #right-postfix, #main-suffix 
{
	h2
	{
		margin-bottom: 5px;
	}

	.panel-pane
	{
		margin-bottom: 15px;
	}

	.panel-pane .panel-pane
	{
		margin-bottom: 3px;
	}
}

#main-content .panel-pane
{
	margin-bottom: 15px;
}


.star-title
{
	.panel-title-div
	{
	 	background-color: #000;
	 	height: 34px;
	 	border-top-right-radius: 15px;


	}

	.panel-title-div h2
	{
		padding: 3px 10px;
		color: #fff;
		border: 0px;
		font-family: Calibri;
		font-weight: normal;
	}

	.panel-title-red-bar
	{
		background-image: url('/sites/all/themes/custom/unity/stylesheets/images/red-star.gif');
	 	background-repeat: no-repeat;
	 	background-position: 0px 0px;
		height: 13px;
		background-color: #990000;
	}

	.panel-title-red-triangle
	{

	 	background-image: url('/sites/all/themes/custom/unity/stylesheets/images/red-triangle.gif');
	 	background-repeat: no-repeat;
	 	background-position: 0px 0px;
		color: #fff;
		height: 15px;

		margin-bottom: 5px;

	}
}

.sub-star-pane
{
	margin-top: 10px;
	
	h2.pane-title
	{

		margin-bottom: 5px;
		font-size: 1.2em;
	}
}

.green
{
	color: #009900;
}

.red
{
	color: #990000;
}



.rtecenter
{
	text-align: center;
}

.link-separator
{
	padding: 0px 10px 0px 10px;
	display: inline;
}

@import 'normalize';
@import 'footer';
@import 'sidr-light';
@import 'mainnav';
@import 'secondarynav';
@import 'buttons';
@import 'views-styles';
@import 'search';
@import 'slider';
@import 'webforms';
@import 'services-redesign';

@import 'sections';

@import 'events';

@import 'drupaloverrides';
