#footer
{
background-color: #000000;
padding: 18px 10px 18px 10px;
color: #fff;

}



#footer a
{
color: #fff;
text-decoration: none;

}

#footer a:hover
{
text-decoration: underline;
}

#footer h2
{
border-bottom: 0px;
color: #fff;
}

#footer ul, #footer ul li
{
margin: 0px;
padding: 0px;
list-style: none;
}

#footer .sub-footer
{
margin-bottom: 1.2em;

border-bottom: 1px solid #fff;

padding-bottom: 1.2em;

	@include breakpoint($break)
	{
		border-bottom: 0px;
		min-height: 155px;
		padding-bottom: 0px;
	}


}



#footer .sub-footer.odd
{
	@include breakpoint($break)
	{
		border-right: 1px solid #fff;
		border-bottom: 0px;
	}
	
	@include breakpoint($break2)
	{
		border-right: 1px solid #fff;
		border-bottom: 0px;
	}
	
}


#footer .sub-footer.even
{
	
	@include breakpoint($break2)
	{
		border-right: 1px solid #fff;
		border-bottom: 0px;
	}
	
}





#footer .sub-footer.last
{


@include breakpoint($break)
	{
		border-right: 1px solid #fff;
		border-bottom: 0px;
	}
	
	@include breakpoint($break2)
	{
		border-right: 0px;
		border-bottom: 0px;
	}

}

#footer #social-footer .social-icon
{
float: left;
margin: 5px 10% 0px 0px;
}

#footer
{
	#bottom-footer
	{
		ul
		{
			margin: 10px auto;
			text-align: center;
			width: 100px;
		}

		.content a 
		{
			color: #fff;
			
		}
	}
}




.footer-menu ul
{
list-style-type: none;
margin: 0px;
padding: 0px;
list-style-image: none;

}			
.footer-menu ul li
{
margin: 0px;
padding: 0px;
list-style-image: none;
list-style-type: none;
}

.footer-menu a
{
color: #fff;
text-decoration: none;
}

.footer-menu h2
{
font-size: 1.0em;
color: #fff;
}

#footer #bottom-footer ul.menu
{
	width: 100%;
	margin: 0px;
	padding: 0px;
	list-style-type: none;

	li
	{
		display: inline;
		padding: 0px 10px;
		border-right: 1px #fff solid;	
	}
	
	li.last
	{
		border: 0px;
	}


}
