/*	.section-content:after, .section:after
	{
		content: " ";
   		display: block; 
   		height: 0; 
   		clear: both;
	}*/

.section
{
	padding: 1.875em 3.75em;
}

.header-image
{
	height: 1080px;
}




.section.banner, .section.banner #banner-image, .section.banner a  {
display: block;
}

#banner-image
{
padding-left: 150px;
padding-top: 50px;
width: 50%;
float: left;

}

#banner.section
{
	padding: 0px;
}






.section-heading-separator
{
	width: 100%;
	text-align: left;
}