/*	.section-content:after, .section:after
	{
		content: " ";
   		display: block; 
   		height: 0; 
   		clear: both;
	}*/

.section
{
	
	padding: 1.0em 1.2em;

	@include breakpoint($break-narrow-desktop)
	{

		padding: 1.875em 3.75em;
	}
}

.banner
{
	min-height: 275px;
}



/*

.section.banner, .section.banner #banner-image, .section.banner a  {
display: block;
}

*/

/*
#banner-image
{
padding-left: 150px;
padding-top: 50px;
width: 50%;
float: left;

}

#banner.section
{
	padding: 0px;
}


*/


#banner-content
{
	padding: 0.5em 0em 1.2em 1.2em;
}

.full-width #banner-content
{
	@include breakpoint($break-narrow-desktop)
	{
		padding: 0.5em 0em 2.0em 0.0em;	
	}
}


.section-heading-separator
{
	width: 100%;
	text-align: left;
}