.node-type-service-page
{
	#button-content .unity-button
	{
	margin-bottom: 5px;
	}



	#title-content
	{

		h1
		{
			margin-bottom: 5px;
		}

		.field-name-field-audience
		{
			margin-bottom: 5px;
		}

	margin: 0px 0px 10px 0px;
	
	}

	#service-rating-wrap 
	{
	
		float: left;
		margin-bottom: 5px;
	
		.title
		{
			float: left;
			font-weight: bold;
		}

		#service-rating
		{
			float: left;
			margin: 0px 0px 0px 5px;
		}

		#service-rating ul
		{
			margin: 0px;
			padding: 0px;
		}
	}

	

	

	.pane-node-field-audience
	{
		
			
		
	}

	
	

	#kb-article-content, #main-service-content-wrap, #title-wrap, #main-content
	{
	margin-bottom: 10px;
	}

	#main-content, #right-prefix
	{
		margin-top: 10px;
	} 


	#related-content
	{
		margin-bottom: 10px;
		
		.pane-node-field-related-links, .pane-node-field-related-files
		{
			width: 48%;
			float: left;
			padding: 0px 2% 0px 0px;
			
			img
			{
				display: none;
			}
		}
		.pane-node-field-related-links .field-items .field-item, .pane-node-field-related-files .field-items .field-item
		{
			border-bottom: 1px solid #ccc;
			margin-bottom: 3px;
			padding-bottom: 3px;
			padding-top: 3px;
		}
	} 

	.pane-node-field-related-links .field-items .field-item a, .pane-node-field-related-files .field-items .field-item a, .view-related-kb-articles .views-field-title a
	{
	text-decoration: none;
	}

	.pane-node-field-related-links .field-items .field-item a:hover, .pane-node-field-related-files .field-items .field-item a:hover, .view-related-kb-articles .views-field-title a:hover
	{
	text-decoration: underline;
	}

	.view-events-for-node td.views-field-field-start-date
	{
	width: 20%;
	vertical-align: top;
	}

	.view-events-for-node td 
	{
	background-color: #fff;
	padding: 10px 0px;
	}
	
	
	
	.pane-doit-report-a-problem-report-problem-from-service
	{
		
		
	}
	
	.pane-system-status-selected-system-status .ss-link
	{
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	}
	
	.pane-system-status-selected-system-status span
	{
	float: left;
	
	}
	
	.pane-views-quick-login-for-service-block, .pane-views-quick-login-for-service-block .view
	{
	clear: both;
	
	}

	#main-content .panel-pane
	{
		clear: both;
	}

	#right-prefix .pane-node-field-logo
	{
		display: none;

		@include breakpoint($break2) {
   			display: block;
  		}
	}

	#right-prefix .panel-pane.system-status-selected-system-status
	{
		margin-bottom: 5px;
	}
	
	#right-prefix .panel-pane.pane-views-quick-login-for-service-block, #right-prefix .panel-pane.pane-views-2523768ddf00850bc033f925a19946c6
	{
		width: 100%;
		float: left;

		margin-bottom: 5px;
		
		.view-quick-login-for-service, .view-unity-quick-login-for-service
		{
			width: 100%;
			float: left;
		
			.views-row
			{
				float: left;
				width:100%;
				margin-bottom: 5px;
			}
			
			/*.views-row-odd
			{
				margin-right: 25px;
			}*/
		
		
		}
	}
	
	.pane-contact-mini-panel
	{
		
		
		.pane-node-title
		{
			font-weight: bold;
		}
		
		.panel-pane
		{
			margin-bottom: 3px;
		}
		
		
	}
	
	.pane-doit-report-a-problem-report-problem-from-service
	{
		margin-top: 5px;
	}
	
	.pane-views-quick-login-for-service-block
	{
	
	margin-right: 10px;
	margin-bottom: 10px;
	}

	#right-prefix .panel-pane.pane-contact-mini-panel
	{
		margin-bottom: 5px;
	}
	
	.pane-doit-rating-doit-five-star-block 
	{
		width: 100%;
		
		
	}
	
	.pane-system-status-selected-system-status
	{
		.system-status
		{
			
			
			strong
			{
				float: left;
			}
			a
			{
				margin-top: 0px;
			}
			
		}
	}
	
	.view-unity-polaroid
	{
		width: 100%;
		
		ul
		{
			width: 100%;

			li
			{
				width: 22%;
			}
		}

		img
		{
			
			/*width: 100%;
			height: auto;
			max-height: 128px;
			*/
		}
		
		.views-field-title
		{
			font-weight: bold;
			padding: 5px 5px 0px 5px;
		}
		
		.views-field-field-introduction
		{
			padding: 0px 5px;
		}
  
		
	}
	
	
	#support-content
	{
		margin-bottom: 10px;
	}
		
	#related-training-content
	{
		margin-bottom: 10px;
		
		.pane-views-related-events-block, .pane-views-related-workshops-block
		{
			width: 48%;
			float: left;
			padding: 0px 2% 0px 0px;
			
			img
			{
				display: none;
			}
		}
		.pane-views-related-workshops-block 
		{
			ul
			{
				list-style: none;
				margin: 0px;
				padding: 0px;
				
				li
				{
					border-bottom: 1px solid #ccc;
					margin: 3px 0px;
					
					padding: 7px 0px;
				}
			}
		}
	}
	
	
	
	.pane-views-related-kb-articles-block-2
	{
		table
		{
			margin-bottom: 10px;
		}
	
	}
	

.pane-views-news-for-node-block-1
{
	background-color: #fee3e3;
	padding: 10px;
	margin: 0px 0px;
	
	border:2px solid #663333;
	border-radius:10px;
	
	.views-field-changed
	{
		font-style: italic;
		font-weight: bold;
	}
}	
	
	
}




.view-category-view
{
	.views-row
	{
		float: left;
		margin-top: 10px;
		padding: 10px;
	}
	.views-field-title
	{
		font-weight: bold;
		font-size: 1.3em;
	}
	
	.views-row-even
	{
		background-color: #eee;
	}
	
	.views-field
	{
		margin: 7px 0px;
	
	}
	
	.system-status
	{
		
		span, strong
		{
			float: left;
		}
	}
	ul
	{
		list-style: none;
		margin: 0px;
		padding: 0px;
	
		li
		{
			margin:0px;
			padding: 0px;
		}
	}
}



.pane-system-status-selected-system-status, .pane-doit-report-a-problem-report-problem-from-service
{
	float: left;
	width: 100%;
}



.view-categorical-service-catalog
{


	td
	{
		padding: 10px;
	}
	td.views-field-field-logo
	{
		width: 100px;
	}
}

.view-services .views-field-field-logo
{
	width: 110px;
}

.view-services .views-table td.views-field-title
{
	padding-left: 20px;
}

.view-services .views-exposed-form #edit-title
{
	width: 330px;
}

.view-services .views-exposed-form .views-exposed-widget .form-submit 
{
	margin-top: 1.4em;
}

.view-services
{
	.audience-wrapper, .contact-wrapper
	{
		margin-top: 5px;
	}
	.contact-label
	{
		float: left;
		margin-right: 5px;
		max-width: 150px;
	}

	.contact-details
	{
		float: left;
	}
}


.view-services-by-team
{
	caption
	{
		strong
		{
			display: block;
			font-size: 1.6em;
		}

		margin: 10px 0px;
		
	}
}