 .sbu-button,
    a.sbu-button {
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0.5em 1.125em 0.625em; /* 8/16 */ /* 18/16 */ /* 10/16 */
        font-family: 'Trade Gothic Next W01', Arial, sans-serif;
        font-weight: normal;
        font-size: inherit;
        text-decoration: none;
        cursor: pointer;
        border-radius: 0.125em; /* 2/16 */
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
       /* box-shadow: 0 0 0.625em #fff;*/ /* 10/16 */
        background: #900;
        border: 0.0625em solid #800; /* 1/16 */
        color: #fff !important;
        margin: 0 0.625em 0.3125em 0; /* 10/16 */ /* 5/16 */
        position: relative;
    }
    .sbu-button:hover,
    a.sbu-button:hover {
        background: #a00;
        text-decoration: none !important;
    }
    .sbu-button:active,
    a.sbu-button:active {
        background: #900;
    }