.logo-wrapper {
    width: 100%;

    @include breakpoint($screen-md) {
        position: relative;
    }
}

.logo {
    border: 0 none;
    width: 100%;
    display: block;
    max-width: 357px;
    margin: 12px auto 14px;

    @include breakpoint($screen-md) {
        width: 262px;
        float: left;
        display: inline-block;
    }

    img {
        border: 0 none;
        display: block;
        max-width: 70%;
        width: 357px;
        height: auto;
        margin: 0 15%;

        @include breakpoint($screen-sm) {
            max-width: 80%;
            margin: 0 10%;
        }

        @include breakpoint($screen-md) {
            border: 0 none;
            display: block;
            max-width: 100%;
            width: 100%;
            height: auto;
            padding: 1px 14px 0 0;
            margin: 0;
        }
    }
}

/*#header, #header-content
{
    background-color: #fff;
    padding: 0px;
    
    max-height: 92px;
}



#university-logo
{
    max-width: 344px;
    width: 35.83333333333333%;

    display: inline-block;
    padding: 0px;
    margin: 0px;
}

#site-logo
{
    max-width: 619px;
    width: 64.16666666666667%;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

#header
{
    #logo, #logo img
    {
        width: 64.166666666667%;
        max-width: 616px;
    }
}

#header-content
{
    max-width: 1200px;
    margin: 0 auto;
}*/

//@import 'mainnav';
//@import 'sbunav';
@import "navigation/quicknav";
@import "navigation/sitenav";
@import "navigation/sbu-bootstrap-sitenav";

//@import "navigation/sbunav";
//@import "search";
@import "secondarynav";
@import "animate";