/* Navigation */
.navbar-nav {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
}
.nav>li>a {
    padding: 13px 30px;
}
.navbar {
    min-height: 5px;
    margin-bottom: 0px;
    border-radius: 0px;
    border: 0px;
}
.navbar ul {
    width: 100%;
    padding: 0;
    float: left;
    margin: 0;
}
.navbar-nav>li>a {
    text-transform: uppercase;
}
.navbar ul.navbar-nav > li:first-child {
    border-left: 1px solid #800;
}

.navbar ul.navbar-nav > li:nth-child(n+1) {
    border-right: 1px solid #800;
}

.navbar-inverse {
    background-color: #900;
    border-color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}
/* End Navigation */